/*------------------------------------------------------------------
[ animations ]*/

.hover-opacity {
    opacity: 1;
    transition: opacity 0.3s ease;
    
    &:hover {
        opacity: .65;
    }
}
