/*------------------------------------------------------------------
[ breadcrumb ]*/

.breadcrumb {
    --bs-link-color-rgb: 118, 106, 88;
    --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='12' viewBox='0 0 7 12' fill='none'%3E%3Cpath d='M4.175 5.575L0.275 1.675C0.0916667 1.49167 0 1.25833 0 0.975C0 0.691667 0.0916667 0.458333 0.275 0.275C0.458333 0.0916667 0.691667 0 0.975 0C1.25833 0 1.49167 0.0916667 1.675 0.275L6.275 4.875C6.375 4.975 6.44583 5.08333 6.4875 5.2C6.52917 5.31667 6.55 5.44167 6.55 5.575C6.55 5.70833 6.52917 5.83333 6.4875 5.95C6.44583 6.06667 6.375 6.175 6.275 6.275L1.675 10.875C1.49167 11.0583 1.25833 11.15 0.975 11.15C0.691667 11.15 0.458333 11.0583 0.275 10.875C0.0916667 10.6917 0 10.4583 0 10.175C0 9.89167 0.0916667 9.65833 0.275 9.475L4.175 5.575Z' fill='%23F0DDD8' fill-opacity='0.5' style='fill:%23F0DDD8;fill:color(display-p3 0.9412 0.8667 0.8471);fill-opacity:0.5;'/%3E%3C/svg%3E");
    --bs-breadcrumb-font-size: var(--fs-small);
    --bs-breadcrumb-margin-bottom: 0px;
    --bs-breadcrumb-item-padding-x: 1rem;
    --bs-breadcrumb-item-active-color: #F0DDD8;
    font-weight: 300;
    letter-spacing: 0.02em;

    @include media-breakpoint-up(xl) {
        --bs-breadcrumb-font-size: var(--fs-h5);
    }
}

.breadcrumb-white {
    --bs-link-color-rgb: var(--theme-white-rgb);
    --bs-breadcrumb-divider-color: var(--theme-white);
    --bs-breadcrumb-item-active-color: var(--theme-white);
}

/* section-breadcrumbs */
.section-breadcrumbs {
    padding: 0;
}