/*------------------------------------------------------------------
[ buttons ]*/

.btn {
    --bs-btn-font-size: 14px;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1;
    --bs-btn-disabled-opacity: 0.25;
    --bs-btn-focus-box-shadow: none;
    --bs-btn-border-radius: var(--bs-border-radius-pill);
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    letter-spacing: 0.02em;

    svg {
        flex-shrink: 0;
    }
}

.btn-m {
    --bs-btn-padding-x: 12px;
    --bs-btn-padding-y: 0;
    min-height: 25px;
}

// .btn-icon-m {
//     --bs-btn-padding-x: 0;
//     --bs-btn-padding-y: 0;
//     width: 50px;
//     height: 50px;
// }

.btn-l {
    --bs-btn-padding-x: 40px;
    --bs-btn-padding-y: 0;
    min-height: 48px;
}

.btn-icon-l {
    --bs-btn-padding-x: 0;
    --bs-btn-padding-y: 0;
    width: 48px;
    height: 48px;
}

// .btn-mobile-toggler {
//     --bs-btn-padding-x: 14px;
//     --bs-btn-padding-y: 12px;
// }

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #412752;
    --bs-btn-border-color: #412752;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #311940;
    --bs-btn-hover-border-color: #311940;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #291238;
    --bs-btn-active-border-color: #291238;
    --bs-btn-disabled-color: #d6d6d6;
    --bs-btn-disabled-bg: #291238;
    --bs-btn-disabled-border-color: #291238;
}

.btn-gold-gradient {
    --bs-btn-color: #040308;
    --bs-btn-bg: #E3C5B6;
    --bs-btn-border-color: #E3C5B6;
    --bs-btn-hover-color: #040308;
    --bs-btn-hover-bg: #F8AE60;
    --bs-btn-hover-border-color: #F8AE60;
    --bs-btn-active-color: #040308;
    --bs-btn-active-bg: #F8AE60;
    --bs-btn-active-border-color: #F8AE60;
    --bs-btn-disabled-color: #040308;
    --bs-btn-disabled-bg: #F8AE60;
    --bs-btn-disabled-border-color: #F8AE60;
    background: linear-gradient(270deg, #EDD1A2 0%, #F1B980 100%);

    &:hover {
        background: linear-gradient(270deg, #EABA64 0%, #F8AE60 100%);
    }

    &:active {
        background: linear-gradient(270deg, #C9983F 0%, #DE913C 100%);
    }
}

@include media-breakpoint-up(lg) {
    .btn {
        --bs-btn-font-size: 24px;
    }

    .btn-m {
        --bs-btn-padding-x: 22px;
        --bs-btn-padding-y: 0;
        min-height: 49px;
    }

    .btn-l {
        --bs-btn-padding-x: 70px;
        --bs-btn-padding-y: 0;
        min-height: 70px;
    }

    .btn-icon-l {
        --bs-btn-padding-x: 0;
        --bs-btn-padding-y: 0;
        width: 70px;
        height: 70px;
    }
}