/*------------------------------------------------------------------
[ cards ]*/

/* card-about & card-about-last */
.card-about {
    --bs-card-spacer-y: 24px;
    --bs-card-spacer-x: 24px;
    --bs-card-border-width: 1px;
    --bs-card-border-color: #E8BB88;
    --bs-card-border-radius: var(--bs-border-radius-lg);
    --bs-card-bg: #504442;
    background: linear-gradient(290.09deg, #040308 13.21%, #504442 108.32%);

    .card-title {
        color: #fff;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.3;
        letter-spacing: 0.02em;
        text-transform: uppercase;
    }

    .card-description {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.3;
        letter-spacing: 0.02em;
        padding-top: 16px;
        border-top: 1px solid #E8BB88;
        margin-top: 60px;
    }

    @include media-breakpoint-up(lg) {
        --bs-card-spacer-y: 28px;
        --bs-card-spacer-x: 28px;

        .card-title {
            font-size: 36px;
            margin-top: 13px;
            min-height: 104px;
        }

        .card-description {
            font-size: 18px;
            padding-top: 21px;
            margin-top: 195px;
        }
    }
}
.card-about-last {
    --bs-card-spacer-y: 24px;
    --bs-card-spacer-x: 24px;
    --bs-card-border-width: 0;
    --bs-card-border-color: transparent;
    --bs-card-border-radius: var(--bs-border-radius-lg);
    --bs-card-bg: #504442;
    background: linear-gradient(180deg, #FFE2B5 0%, #B5947D 25.96%, #674845 61.06%, #4A3538 75%, #2C212B 100%);

    .bg-absolute-img {
        position: absolute;
        top: 0;
        right: -17px;
        width: 212px;
        height: auto;
    }

    .card-body {
        position: relative;
        display: flex;
        align-items: flex-end;
    }

    .card-title {
        color: #fff;
        font-size: 32px;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: 0.02em;
        margin-bottom: 0;
        margin-top: 160px;
    }

    @include media-breakpoint-up(lg) {
        --bs-card-spacer-y: 28px;
        --bs-card-spacer-x: 28px;

        .bg-absolute-img {
            top: 14px;
            right: 0;
            width: 347px;
        }

        .card-title {
            font-size: 36px;
        }
    }
}

/* card-category */
.card-category {
    --bs-card-spacer-y: 20px;
    --bs-card-spacer-x: 20px;
    --bs-card-border-width: 0;
    --bs-card-border-color: transparent;
    --bs-card-border-radius: var(--bs-border-radius-lg);
    --bs-card-inner-border-radius: 0;
    --bs-card-bg: #534858;
    overflow: hidden;
    background: radial-gradient(78.65% 77.39% at -6.71% 109.45%, #534858 0%, #222126 100%);
    text-align: center;

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0 !important;
    }

    .card-title {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.3;
        letter-spacing: 0.02em;
    }

    .card-description {
        max-width: 590px;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.3;
        letter-spacing: 0.02em;
        margin: 0 auto;
    }

    .card-img-wrapper {
        flex: 1 1 auto;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-top: 20px;
        margin-right: calc(-1 * var(--bs-card-spacer-x));
        margin-left: calc(-1 * var(--bs-card-spacer-x));
    }

    @include media-breakpoint-up(lg) {
        --bs-card-spacer-y: 66px;
        --bs-card-spacer-x: 66px;

        .card-title {
            font-size: 36px;
            margin-bottom: 8px;
        }

        .card-description {
            font-size: 20px;
        }

        .card-img-wrapper {
            margin-top: 60px;
        }
    }
}

/* card-process */
.card-process {
    --bs-card-spacer-y: 0;
    --bs-card-spacer-x: 0;
    --bs-card-border-width: 0;
    --bs-card-border-color: transparent;
    --bs-card-border-radius: 0;
    --bs-card-inner-border-radius: 0;
    --bs-card-bg: transparent;
    --card-content-divider: 8px;

    .card-body {
        position: relative;
        display: grid;
        grid-template-columns: 105px minmax(0, 1fr);
        column-gap: 8px;
    }

    .card-index-num {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1;
        border-radius: 50%;
        border: 1px solid #B99FCA;
        background: linear-gradient(0deg, #2C2C2C 0%, #181818 100%);
    }

    .card-icon {
        grid-column: 1 / span 1;
        grid-row: 1 / span 4;
    }

    .card-heading {
        grid-column: 2 / span 1;

        &__status {
            color: #B99FCA;
            font-size: 12px;
            font-weight: 300;
            line-height: 1;
            letter-spacing: 0.02em;
            margin-bottom: 8px;
        }

        &__title {
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0.02em;
            margin-bottom: 8px;
        }

        &__subtitle {
            font-size: 14px;
            font-weight: 300;
            line-height: 1.3;
            letter-spacing: 0.02em;
            margin-bottom: 0;
        }
    }

    .card-description {
        grid-column: 1 / span 2;
        grid-row: 5 / span 1;

        &__divider {
            display: block;
            width: 100%;
            height: var(--card-content-divider);
        }

        &__content {
            font-size: 14px;
            font-weight: 300;
            padding: 12px;
            border-radius: var(--bs-border-radius-lg);
            background: radial-gradient(86.59% 53.03% at 100% 97.82%, #534858 0%, #222126 100%);

            h1,h2, h3, h4, h5, h6 {
                font-size: 14px;
                text-transform: uppercase;
            }

            *:last-child {
                margin-bottom: 0;
            }
        }
    }

    .card-btn-wrapper {
        grid-column: 2 / span 1;
        margin-top: 8px;

        .card-btn-more {
            --bs-btn-padding-x: 0;
            --bs-btn-padding-y: 0;
            --bs-btn-font-size: 14px;
            --bs-btn-font-weight: 300;
            --bs-btn-border-radius: 0;
            --bs-btn-color: #B99FCA;
            --bs-btn-bg: transparent;
            --bs-btn-border-color: transparent;
            --bs-btn-hover-color: #fff;
            --bs-btn-hover-bg: transparent;
            --bs-btn-hover-border-color: transparent;
            --bs-btn-active-color: #fff;
            --bs-btn-active-bg: transparent;
            --bs-btn-active-border-color: transparent;
            --bs-btn-disabled-color: #d6d6d6;
            --bs-btn-disabled-bg: transparent;
            --bs-btn-disabled-border-color: transparent;
            min-height: 0;
            gap: 4px;

            &:not(.collapsed) .title-show-more,
            &.collapsed .title-show-less {
                display: none;
            }

            svg {
                fill: currentColor;
                transition: 0.3s ease;
            }

            &:not(.collapsed) svg {
                transform: rotate(180deg);
            }
        }
    }

    .card-divider {
        grid-column: 1 / span 2;
        height: 1px;
        margin-top: 12px;
        background: linear-gradient(90deg, rgba(237, 209, 162, 0) 4.63%, #EDD1A2 35.81%, #EDD1A2 68.82%, rgba(237, 209, 162, 0) 100%);
    }

    @include media-breakpoint-up(lg) {
        --card-content-divider: 10px;

        .card-body {
            grid-template-columns: 140px minmax(0, 1fr);
            column-gap: 20px;
        }

        .card-index-num {
            width: 50px;
            height: 50px;
            font-size: 24px;
            border-width: 2px;
        }

        .card-heading {
            grid-column: 2 / span 1;

            &__status {
                font-size: 18px;
            }

            &__title {
                font-size: 30px;
            }
            
            &__subtitle {
                font-size: 20px;
            }
        }

        .card-description {
            grid-column: 2 / span 1;
            grid-row: auto;

            &__content {
                font-size: 18px;
                padding: 40px;

                h1,h2, h3, h4, h5, h6 {
                    font-size: 24px;
                }
            }
        }

        .card-btn-wrapper {
            .card-btn-more {
                --bs-btn-font-size: 20px;
            }
        }

        .card-divider {
            grid-column: 2 / span 1;
            margin-top: 20px;
        }
    }
}

/* card-tariff */
.card-tariff {
    --bs-card-spacer-y: 24px;
    --bs-card-spacer-x: 24px;
    --bs-card-border-width: 0;
    --bs-card-border-color: transparent;
    --bs-card-border-radius: var(--bs-border-radius-lg);
    --bs-card-inner-border-radius: 0;
    --bs-card-bg: transparent;
    background: radial-gradient(96.58% 88.3% at 2.23% 7.45%, rgba(59, 39, 69, 0.4) 0%, rgba(35, 30, 44, 0.4) 100%);

    .card-body {
        display: flex;
        flex-direction: column;
    }

    .card-title {
        margin-bottom: 12px;

        span {
            display: inline-block;
            padding: 8px 12px;
            color: #D9D9D9;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            border-radius: var(--bs-border-radius-pill);
            background: linear-gradient(270deg, #8D5C00 0%, #DE913C 100%);
        }
    }

    .card-description {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.3;
        letter-spacing: 0.02em;
        margin-bottom: 20px;
    }

    .card-price {
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid rgba(240, 221, 216, 0.2);

        &__main {
            color: #fff;
            font-size: 28px;
            font-weight: 400;
            line-height: 1.3;
            letter-spacing: 0.02em;
            margin-bottom: 0;
        }

        &__old {
            opacity: 0.5;
            font-size: 12px;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0.02em;
            text-decoration: line-through;
        }
    }

    .card-features {
        font-size: 12px;
        font-weight: 300;
        line-height: 1.3;
        letter-spacing: 0.02em;

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
        }
    }

    .card-btn-wrapper {
        margin-top: 24px;
    }

    &.highlight {
        background: radial-gradient(96.58% 88.3% at 2.23% 7.45%, #3B2745 0%, #231E2C 100%);
    }

    @include media-breakpoint-up(lg) {
        --bs-card-spacer-y: 40px;
        --bs-card-spacer-x: 40px;

        .card-title {
            margin-bottom: 32px;

            span {
                padding: 12px 20px;
                font-size: 22px;
            }
        }

        .card-description {
            font-size: 20px;
            min-height: 52px;
            margin-bottom: 51px;
        }

        .card-price {
            padding-bottom: 53px;
            margin-bottom: 32px;

            &__main {
                font-size: 38px;
            }

            &__old {
                font-size: 18px;
            }
        }

        .card-features {
            font-size: 20px;

            ul {
                gap: 16px;
            }
        }

        .card-btn-wrapper {
            margin-top: 48px;
        }
    }
}

/* card-team-desktop */
.card-team-desktop {
    --bs-card-spacer-y: 32px;
    --bs-card-spacer-x: 24px;
    --bs-card-border-width: 0;
    --bs-card-border-color: transparent;
    --bs-card-border-radius: var(--bs-border-radius-lg);
    position: relative;
    overflow: hidden;
    height: 560px;
    background: linear-gradient(180deg, rgba(42, 33, 42, 0) 1.92%, #2A212A 100%);
    transition: 0.3s ease;

    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     display: block;
    //     width: 95px;
    //     height: 95px;
    //     opacity: 0;
    //     visibility: hidden;
    //     background-image: url(../img/home/npc-quest.png);
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     background-size: contain;
    //     transition: 0.3s ease;
    //     transition-delay: 0.1s;
    // }

    &:hover {
        background: linear-gradient(180deg, #040308 45.87%, #452555 110.6%);

        .card-media {
            top: 65%;
            height: 135%;
            transition-delay: 0.1s;
        }

        // &::before {
        //     opacity: 1;
        //     visibility: visible;
        // }
    }

    .card-media {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: 100%;
        transform: translate(-50%, -50%);
        transition: 0.3s ease;
    }

    .card-body {
        position: relative;
    }

    .card-title {
        position: absolute;
        bottom: 0;
        left: auto;
        font-size: 32px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.02em;
        white-space: nowrap;
        margin-bottom: 0;
        transform: rotate(-90deg);
        transform-origin: 0 0;
    }
}

/* card-modal-team-member */

.card-modal-team-member {
    --bs-card-spacer-y: 44px;
    --bs-card-spacer-x: 44px;
    --bs-card-border-width: 0;
    --bs-card-border-color: transparent;
    --bs-card-border-radius: var(--bs-border-radius-lg);
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, #040308 45.87%, #452555 110.6%);

    .card-media {
        position: absolute;
        bottom: -240px;
        right: -50px;
        width: 490px;
        height: auto;
    }

    .card-body {
        position: relative;
    }

    .card-title {
        color: #fff;
        font-size: 34px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .card-content {
        display: flex;
        flex-wrap: wrap;
        gap: 44px;

        > div {
            min-width: 0;
            width: 315px;
        }
    }
}

/* card-team-mobile */
.card-team-mobile {
    --bs-card-spacer-y: 20px;
    --bs-card-spacer-x: 20px;
    --bs-card-border-width: 1px;
    --bs-card-border-color: #B99FCA;
    --bs-card-border-radius: var(--bs-border-radius-lg);
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, #040308 45.87%, #452555 110.6%);

    .card-media {
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }

    .card-content {
        position: relative;
        margin-top: 150px;
        font-size: 11px;
        font-weight: 300;
        line-height: 1.3;
        letter-spacing: 0.02em;

        h3 {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.3;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            background: linear-gradient(180deg, rgb(232, 210, 168) 0%, rgb(232, 187, 136) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            margin-top: 16px;
            margin-bottom: 12px;
        }

        p {
            margin-bottom: 8px;
        }

        ul {
            margin-bottom: 8px;
            padding-left: 16px;

            li:not(:last-of-type) {
                margin-bottom: 8px;
            }
        }
    }
}