/*------------------------------------------------------------------
[ cards ]*/

/* card-about */

.card-about {
    --bs-card-spacer-y: 24px;
    --bs-card-spacer-x: 24px;
    --bs-card-border-width: 1px;
    --bs-card-border-color: #E8BB88;
    --bs-card-border-radius: var(--bs-border-radius-lg);
    --bs-card-bg: #504442;
    background: linear-gradient(290.09deg, #040308 13.21%, #504442 108.32%);

    .card-title {
        color: #fff;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.3;
        letter-spacing: 0.02em;
        text-transform: uppercase;
    }

    .card-description {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.3;
        letter-spacing: 0.02em;
        padding-top: 16px;
        border-top: 1px solid #E8BB88;
        margin-top: 60px;
    }

    @include media-breakpoint-up(lg) {
        --bs-card-spacer-y: 28px;
        --bs-card-spacer-x: 28px;

        .card-title {
            font-size: 40px;
            margin-top: 13px;
        }

        .card-description {
            font-size: 20px;
            padding-top: 21px;
            margin-top: 195px;
        }
    }
}

.card-about-last {
    --bs-card-spacer-y: 24px;
    --bs-card-spacer-x: 24px;
    --bs-card-border-width: 0;
    --bs-card-border-color: transparent;
    --bs-card-border-radius: var(--bs-border-radius-lg);
    --bs-card-bg: #504442;
    background: linear-gradient(180deg, #FFE2B5 0%, #B5947D 25.96%, #674845 61.06%, #4A3538 75%, #2C212B 100%);

    .bg-absolute-img {
        position: absolute;
        top: 0;
        right: -17px;
        width: 212px;
        height: auto;
    }

    .card-body {
        position: relative;
        display: flex;
        align-items: flex-end;
    }

    .card-title {
        color: #fff;
        font-size: 32px;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: 0.02em;
        margin-bottom: 0;
        margin-top: 160px;
    }

    @include media-breakpoint-up(lg) {
        --bs-card-spacer-y: 28px;
        --bs-card-spacer-x: 28px;

        .bg-absolute-img {
            top: 14px;
            right: 0;
            width: 347px;
        }

        .card-title {
            font-size: 44px;
        }
    }
}

/* card-category */

.card-category {
    --bs-card-spacer-y: 20px;
    --bs-card-spacer-x: 20px;
    --bs-card-border-width: 0;
    --bs-card-border-color: transparent;
    --bs-card-border-radius: var(--bs-border-radius-lg);
    --bs-card-inner-border-radius: 0;
    --bs-card-bg: #534858;
    background: radial-gradient(78.65% 77.39% at -6.71% 109.45%, #534858 0%, #222126 100%);
    text-align: center;

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0 !important;
    }

    .card-title {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.3;
        letter-spacing: 0.02em;
    }

    .card-description {
        max-width: 590px;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.3;
        letter-spacing: 0.02em;
        margin: 0 auto;
    }

    .card-img-wrapper {
        flex: 1 1 auto;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-top: 20px;
        margin-right: calc(-1 * var(--bs-card-spacer-x));
        margin-left: calc(-1 * var(--bs-card-spacer-x));
    }

    @include media-breakpoint-up(lg) {
        --bs-card-spacer-y: 66px;
        --bs-card-spacer-x: 66px;

        .card-title {
            font-size: 42px;
            margin-bottom: 8px;
        }

        .card-description {
            font-size: 20px;
        }

        .card-img-wrapper {
            margin-top: 60px;
        }
    }
}

/* card-tariff */

.card-tariff {
    --bs-card-spacer-y: 24px;
    --bs-card-spacer-x: 24px;
    --bs-card-border-width: 0;
    --bs-card-border-color: transparent;
    --bs-card-border-radius: var(--bs-border-radius-lg);
    --bs-card-inner-border-radius: 0;
    --bs-card-bg: transparent;
    background: radial-gradient(96.58% 88.3% at 2.23% 7.45%, rgba(59, 39, 69, 0.4) 0%, rgba(35, 30, 44, 0.4) 100%);

    .card-body {
        display: flex;
        flex-direction: column;
    }

    .card-title {
        margin-bottom: 12px;

        span {
            display: inline-block;
            padding: 8px 12px;
            color: #D9D9D9;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            border-radius: var(--bs-border-radius-pill);
            background: linear-gradient(270deg, #8D5C00 0%, #DE913C 100%);
        }
    }

    .card-description {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.3;
        letter-spacing: 0.02em;
        margin-bottom: 20px;
    }

    .card-price {
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid rgba(240, 221, 216, 0.2);

        &__main {
            color: #fff;
            font-size: 28px;
            font-weight: 400;
            line-height: 1.3;
            letter-spacing: 0.02em;
            margin-bottom: 0;
        }

        &__old {
            opacity: 0.5;
            font-size: 12px;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0.02em;
            text-decoration: line-through;
        }
    }

    .card-features {
        font-size: 12px;
        font-weight: 300;
        line-height: 1.3;
        letter-spacing: 0.02em;

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
        }
    }

    .card-btn-wrapper {
        margin-top: 24px;
    }

    &.highlight {
        background: radial-gradient(96.58% 88.3% at 2.23% 7.45%, #3B2745 0%, #231E2C 100%);
    }

    @include media-breakpoint-up(lg) {
        --bs-card-spacer-y: 40px;
        --bs-card-spacer-x: 40px;

        .card-title {
            margin-bottom: 32px;

            span {
                padding: 12px 20px;
                font-size: 24px;
            }
        }

        .card-description {
            font-size: 20px;
            margin-bottom: 51px;
        }

        .card-price {
            padding-bottom: 53px;
            margin-bottom: 32px;

            &__main {
                font-size: 48px;
            }

            &__old {
                font-size: 20px;
            }
        }

        .card-features {
            font-size: 20px;

            ul {
                gap: 16px;
            }
        }

        .card-btn-wrapper {
            margin-top: 48px;
        }
    }
}

/* card-team-desktop */

.card-team-desktop {
    --bs-card-spacer-y: 32px;
    --bs-card-spacer-x: 24px;
    --bs-card-border-width: 0;
    --bs-card-border-color: transparent;
    --bs-card-border-radius: var(--bs-border-radius-lg);
    position: relative;
    overflow: hidden;
    height: 560px;
    background: linear-gradient(180deg, rgba(42, 33, 42, 0) 1.92%, #2A212A 100%);
    // background: linear-gradient(180deg, #040308 1.92%, #2A212A 100%);

    .card-media {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .card-body {
        position: relative;
    }

    .card-title {
        position: absolute;
        bottom: 0;
        left: auto;
        font-size: 34px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.02em;
        white-space: nowrap;
        margin-bottom: 0;
        transform: rotate(-90deg);
        transform-origin: 0 0;
    }
}

/* card-team-mobile */

.card-team-mobile {
    --bs-card-spacer-y: 20px;
    --bs-card-spacer-x: 20px;
    --bs-card-border-width: 1px;
    --bs-card-border-color: #B99FCA;
    --bs-card-border-radius: var(--bs-border-radius-lg);
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, #040308 45.87%, #452555 110.6%);

    .card-media {
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }

    .card-content {
        position: relative;
        margin-top: 150px;
        font-size: 11px;
        font-weight: 300;
        line-height: 1.3;
        letter-spacing: 0.02em;

        h3 {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.3;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            background: linear-gradient(180deg, rgb(232, 210, 168) 0%, rgb(232, 187, 136) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            margin-top: 16px;
            margin-bottom: 12px;
        }

        p {
            margin-bottom: 8px;
        }

        ul {
            margin-bottom: 8px;
            padding-left: 16px;

            li:not(:last-of-type) {
                margin-bottom: 8px;
            }
        }
    }
}