/*------------------------------------------------------------------
[ fonts ]*/

/* Bounded */

@font-face {
    font-family: 'Bounded';
    src: url('../fonts/bounded/Bounded-Variable.ttf') format('truetype');
    font-weight: 200 900;
    font-style: normal;
    font-display: swap;
}