/*------------------------------------------------------------------
[ footer ]*/

.footer {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 15px;
    padding-bottom: 20px;

    // cta-bar
    &__cta-bar {
        .cta-wrapper {
            position: relative;
            overflow: hidden;
            padding: 20px 15px;
            border-radius: var(--bs-border-radius-lg);
            background-image: var(--theme-blue-gradient);
        }

        .bg-absolute-img {
            position: absolute;
            top: 70px;
            right: -250px;
            width: 700px;
            height: auto;
        }

        .cta-content {
            position: relative;
            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: 0;

            &__logo {
                max-width: 210px;
                margin-bottom: 40px;
            }

            &__contacts {
                --bs-link-color-rgb: var(--theme-white-rgb);
                --bs-link-hover-color-rgb: var(--theme-black-rgb);
                display: flex;
                flex-direction: column;
                margin-bottom: 40px;

                .contact-link {
                    &.link-phone {
                        margin-bottom: 10px;
                    }
                }

                .contact-socials {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-top: 20px;

                    .link-social {
                        transition: 0.3s ease;

                        &:hover {
                            opacity: 0.6;
                        }
                    }
                }
            }

            &__form-title {
                margin-bottom: 10px;
            }

            &__form {
                .form-wrapper {
                    overflow: hidden;
                    padding: 25px 15px;
                    border-radius: var(--bs-border-radius);
                    border: 1px solid transparent;
                    background-color: transparent;
                    background-size: cover;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='700' height='120' viewBox='0 0 700 120' fill='none'%3E%3Cg filter='url(%23filter0_n_3078_16013)'%3E%3Crect width='700' height='120' fill='%23EEF4FE' fill-opacity='0.05'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_n_3078_16013' x='0' y='0' width='700' height='120' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2 2' stitchTiles='stitch' numOctaves='3' result='noise' seed='8947'/%3E%3CfeColorMatrix in='noise' type='luminanceToAlpha' result='alphaNoise'/%3E%3CfeComponentTransfer in='alphaNoise' result='coloredNoise1'%3E%3CfeFuncA type='discrete' tableValues='0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 '/%3E%3C/feComponentTransfer%3E%3CfeComposite operator='in' in2='shape' in='coloredNoise1' result='noise1Clipped'/%3E%3CfeComponentTransfer in='alphaNoise' result='coloredNoise2'%3E%3CfeFuncA type='discrete' tableValues='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 '/%3E%3C/feComponentTransfer%3E%3CfeComposite operator='in' in2='shape' in='coloredNoise2' result='noise2Clipped'/%3E%3CfeFlood flood-color='rgba(22, 29, 77, 0.1)' result='color1Flood'/%3E%3CfeComposite operator='in' in2='noise1Clipped' in='color1Flood' result='color1'/%3E%3CfeFlood flood-color='rgba(238, 244, 254, 0.1)' result='color2Flood'/%3E%3CfeComposite operator='in' in2='noise2Clipped' in='color2Flood' result='color2'/%3E%3CfeMerge result='effect1_noise_3078_16013'%3E%3CfeMergeNode in='shape'/%3E%3CfeMergeNode in='color1'/%3E%3CfeMergeNode in='color2'/%3E%3C/feMerge%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
                    backdrop-filter: blur(15px);
                    box-shadow: -5px -5px 40px 0px rgba(238, 244, 254, 0.14) inset;
                    z-index: 1;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border-radius: var(--bs-border-radius);
                        padding: 1px;
                        background: linear-gradient(309.65deg, rgba(16, 1, 2, 0.5) 42.38%, rgba(240, 242, 255, 0.5) 88.92%);
                        -webkit-mask: 
                            linear-gradient(#fff 0 0) content-box, 
                            linear-gradient(#fff 0 0);
                        -webkit-mask-composite: xor;
                                mask-composite: exclude;
                        pointer-events: none;
                    }
                }
            }
        }
    }

    // main-bar
    &__main-bar {
        .footer-widget {
            padding: 15px 0;

            &__title {
                margin-bottom: 8px;

                .collapse-link {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    svg {
                        transition: all 0.3s ease;
                    }

                    &:not(.collapsed) svg {
                        transform: rotate(180deg);
                    }
                }
            }

            &__menu {
                .nav {
                    --bs-nav-link-padding-x: 0;
                    --bs-nav-link-font-size: 16px;
                    --bs-nav-link-color: var(--theme-black-60);
                }
            }
        }
    }

    // copyright-bar
    &__copyright-bar {
        .copyright-text {
            font-size: 13px;

            span {
                display: inline-block;
            }
        }
    }

    // Максимальная ширина

    @include media-breakpoint-down(lg) {
        &__main-bar {
            .footer-widget {
                &__title {
                    > *:not(.collapse-link) {
                        display: none;
                    }
                }
            }
        }
    }

    // Минимальная ширина

    @include media-breakpoint-up(sm) {
        gap: 20px;

        &__cta-bar {
            .bg-absolute-img {
                top: -40px;
                right: -180px;
            }
        }
    }

    @include media-breakpoint-up(md) {
        &__cta-bar {
            .cta-wrapper {
                padding: 15px;
            }

            .bg-absolute-img {
                top: -10px;
                right: 7px;
            }

            .cta-content {
                grid-template-columns: repeat(24, minmax(0, 1fr));
    
                &__logo {
                    grid-column: 1 / span 8;
                    grid-row: 1;
                    max-width: 100%;
                    margin-bottom: 15px;
                }
    
                &__contacts {
                    grid-column: 1 / span 8;
                    grid-row: 4;
                    margin-bottom: 0;
                }
    
                &__form-title {
                    grid-column: 1 / span 8;
                    grid-row: 2;
                    margin-bottom: 0;
                }
    
                &__form {
                    grid-column: 15 / span 10;
                    grid-row: 1 / span 4;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__cta-bar {
            .bg-absolute-img {
                top: -34px;
                right: 46px;
                width: 900px;
            }

            .cta-content {
                &__logo {
                    grid-column: 1 / span 7;
                }

                &__contacts {
                    grid-column: 1 / span 7;
                }

                &__form-title {
                    grid-column: 1 / span 7;
                }

                &__form {
                    grid-column: 17 / span 8;
                }
            }
        }

        &__main-bar {
            .footer-widget {
                padding: 20px 0;
    
                &__title {
                    .collapse-link {
                        display: none;
                    }
                }
    
                .collapse {
                    display: block !important;
                }
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__cta-bar {
            .cta-wrapper {
                padding: 40px;
            }
            
            .bg-absolute-img {
                top: -85px;
                right: 100px;
                width: 1100px;
            }

            .cta-content {
                &__logo {
                    grid-column: 1 / span 6;
                }

                &__contacts {
                    grid-column: 1 / span 10;
                }

                &__form-title {
                    grid-column: 1 / span 10;
                }

                &__form {
                    grid-column: 18 / span 7;

                    .form-wrapper {
                        padding: 30px;
                    }
                }
            }
        }

        &__copyright-bar {
            .copyright-text {
                font-size: 16px;
            }
        }
    }

    @include media-breakpoint-up(xxl) {
        gap: 30px;
        padding-bottom: 30px;

        &__cta-bar {
            .cta-wrapper {
                padding: 30px 50px;
            }

            .bg-absolute-img {
                top: -110px;
                right: 140px;
                width: 1250px;
            }
        }
    }
}