/*------------------------------------------------------------------
[ footer ]*/

.footer {
    padding: 40px 0;
    background: linear-gradient(165.19deg, #040308 18.92%, #121019 57.49%, #2C2837 89.54%);

    .footer-wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .footer-main-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px;

        &__widget {
            .footer-logo {
                max-width: 285px;

                img {
                    max-width: 100%;
                    height: auto;
                }
            }

            .footer-nav {
                --bs-nav-link-padding-x: 0;
                --bs-nav-link-padding-y: 0;
                --bs-nav-link-font-size: 14px;
                --bs-nav-link-font-weight: 400;
                --bs-nav-link-color: #F2E6CC;
                display: grid;
                grid-template-columns: 1fr;
                grid-auto-rows: auto;
                row-gap: 20px;
            }

            .footer-contacts {
                --bs-link-color-rgb: 255, 255, 255;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.3;
                letter-spacing: 0.02em;

                a {
                    text-decoration: underline;
                }
            }
        }
    }

    .footer-copyright-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px;

        &__widget {
            color: #A57967;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.3;
            letter-spacing: 0.02em;
        }
    }

    @include media-breakpoint-up(lg) {
        padding: 80px 0 100px;
        background: linear-gradient(179deg, #040308 18.92%, #121019 57.49%, #2C2837 89.54%);

        .footer-wrapper {
            gap: 100px;
        }

        .footer-main-bar {
            &__widget {
                .footer-logo {
                    max-width: 375px;
                }

                .footer-nav {
                    --bs-nav-link-font-size: 16px;
                    grid-template-rows: repeat(3, auto);
                    grid-auto-flow: column;
                    grid-auto-columns: minmax(135px, 1fr);
                    grid-template-columns: none;
                    column-gap: 60px;
                    row-gap: 24px;
                }

                .footer-contacts {
                    font-size: 20px;
                }
            }
        }

        .footer-copyright-bar {
            &__widget {
                font-size: 16px;
            }
        }
    }
}