/*------------------------------------------------------------------
[ forms ]*/

.form-control {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #E8D2A8;
    border-color: #e8bb8899;
    box-shadow: none !important;
    background-image: linear-gradient(152.97deg, #1D1B1F 21.15%, #504442 161.29%);

    &:focus {
        color: #E8D2A8;
        border-color: #E8BB88;
    }

    &::placeholder {
        opacity: 0.6;
    }
}

.input-m {
    min-height: 25px;
    padding: 10px 16px;
}

.input-l {
    min-height: 48px;
    padding: 12px 22px;
}

.form-check {
    font-size: 18px;
}

.form-check-input {
    --bs-border-width: 2px;
    --bs-form-check-bg: transparent;

    &:checked {
        background-color: transparent;
        border-color: #E8D2A8;
    }

    &:focus {
        box-shadow: none;
    }

    &[type=checkbox] {
        border-radius: 0.075em;
    }
}

.form-check-label {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: 0.02em;
}

@include media-breakpoint-up(lg) {
    .form-control {
        font-size: 20px;
    }

    .input-m {
        min-height: 50px;
    }

    .input-l {
        min-height: 70px;
    }

    textarea.input-l {
        min-height: 70px;
        padding: 20px 22px;
    }

    .form-check {
        font-size: 36px;
    }

    .form-check-label {
        font-size: 18px;
    }
}