/*------------------------------------------------------------------
[ header ]*/

.header {
    position: relative;

    .fixed-top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 920;
    }

    .absolute-top {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .header-spacer {
        height: var(--header-height);
    }

    .header-row {
        display: flex;
        align-items: center;
        min-height: var(--header-height);
        transition: all 0.3s ease;

        &.js-scrollable {
            min-height: var(--header-scrollable-height);
        }

        > .container {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    // Максимальная ширина

    @include media-breakpoint-down(xl) {
        [data-device=desktop] {
            display: none;
        }

        [data-device=mobile] {
            --header-height: 60px;
            --header-scrollable-height: 80px;

            .header-row::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                transform: translateY(-100%);
                display: block;
                width: 100%;
                height: calc(var(--header-scrollable-height) + 20px);
                border-bottom-left-radius: var(--bs-border-radius-lg);
                border-bottom-right-radius: var(--bs-border-radius-lg);
                background-image: linear-gradient(181.39deg, rgba(4, 3, 8, 0.95) 11.13% 11.13%, rgba(44, 40, 55, 0.95) 100.6%);
                -webkit-backdrop-filter: blur(2px);
                backdrop-filter: blur(2px);
                transition: all 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
            }

            .header-row.js-scrollable::before {
                transform: translateY(-20px);
            }
        }
    }

    // Минимальная ширина

    @include media-breakpoint-up(xl) {
        [data-device=mobile] {
            display: none;
        }

        [data-device=desktop] {
            --header-height: 120px;
            --header-scrollable-height: 90px;

            .header-row.js-scrollable {
                background-image: linear-gradient(181.39deg, rgba(4, 3, 8, 0.95) 11.13% 11.13%, rgba(44, 40, 55, 0.95) 100.6%);
                -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
            }
        }
    }
}

/* header-widget */

.header-widget {
    &__logo {
        img {
            width: auto;
            height: 35px;
            object-fit: contain;
        }
    }
    
    &__phone-link {
        color: #F0DDD8;
        font-size: 20px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0.02em;
    }
    
    &__phone-link:hover {
        opacity: 0.7;
    }
    
    @include media-breakpoint-up(xl) {
        &__logo {
            img {
                height: 50px;
            }
        }
    }
}

/* primary-nav */

.primary-nav {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    .nav-item {
        position: relative;
        display: inline-flex;
        align-items: center;

        > a {
            position: relative;
            display: block;
            padding: 0 6px;
            color: #F0DDD8;
            font-size: 16px;
            font-weight: 300;
            line-height: 1;
            letter-spacing: 0.02em;
        }

        > a:hover {
            opacity: 0.7;
        }

        >a.active {
            color: #E8BB88;
        }
    }

    @include media-breakpoint-up(xxl) {
        .nav-item > a {
            padding: 0 12px;
            font-size: 18px;
        }
    }
}

/* mobile-nav */

.mobile-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 100px;
    gap: 32px;
    
    a {
        display: block;
        color: #F0DDD8;
        font-size: 20px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0.02em;
    }

    a.active {
        color: #E8BB88;
    }
}