/*------------------------------------------------------------------
[ header ]*/

.header {
    --header-desktop-height: 120px;
    --shrink-desktop-height: 90px;
    --header-mobile-height: 60px;
    --shrink-mobile-height: 50px;
    position: relative;

    .fixed-top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 920;
    }

    .absolute-top {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    // Максимальная ширина

    @include media-breakpoint-down(lg) {
        [data-device=desktop] {
            display: none;
        }

        [data-device=mobile] {
            .header-spacer {
                height: var(--header-mobile-height);
            }

            .header-row {
                min-height: var(--header-mobile-height);

                &.js-scrollable {
                    min-height: var(--shrink-mobile-height);
                    // background-color: rgba(44, 40, 55, 0.95);
                    background-image: linear-gradient(181.39deg, rgba(4, 3, 8, 0.95) 11.13% 11.13%, rgba(44, 40, 55, 0.95) 100.6%);
                    -webkit-backdrop-filter: blur(5px);
                    backdrop-filter: blur(5px);
                }
            }
        }
    }

    // Минимальная ширина

    @include media-breakpoint-up(lg) {
        [data-device=mobile] {
            display: none;
        }

        [data-device=desktop] {
            .header-spacer {
                height: var(--header-desktop-height);
            }
    
            .header-row {
                min-height: var(--header-desktop-height);
    
                &.js-scrollable {
                    min-height: var(--shrink-desktop-height);
                    // background-color: rgba(44, 40, 55, 0.95);
                    background-image: linear-gradient(181.39deg, rgba(4, 3, 8, 0.95) 11.13% 11.13%, rgba(44, 40, 55, 0.95) 100.6%);
                    -webkit-backdrop-filter: blur(5px);
                    backdrop-filter: blur(5px);
                }
            }
        }
    }
}

/* header-row */

.header-row {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;

    > .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

/* header-widget */

.header-widget {
    &__logo {
        img {
            width: auto;
            height: 35px;
            object-fit: contain;
        }
    }
    
    &__phone-link {
        color: #F0DDD8;
        font-size: 20px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0.02em;
    }
    
    &__phone-link:hover {
        opacity: 0.7;
    }
    
    // Минимальная ширина
    
    @include media-breakpoint-up(lg) {
        &__logo {
            img {
                height: 50px;
            }
        }
    }
}

/* primary-nav */

.primary-nav {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    .nav-item {
        position: relative;
        display: inline-flex;
        align-items: center;

        > a {
            position: relative;
            display: block;
            padding: 0 12px;
            color: #F0DDD8;
            font-size: 20px;
            font-weight: 300;
            line-height: 1;
            letter-spacing: 0.02em;
        }

        > a:hover {
            opacity: 0.7;
        }

        >a.active {
            color: #E8BB88;
        }
    }
}

/* mobile-nav */

.mobile-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 100px;
    gap: 32px;
    
    a {
        display: block;
        color: #F0DDD8;
        font-size: 20px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0.02em;
    }

    a.active {
        color: #E8BB88;
    }
}