/*------------------------------------------------------------------
[ links ]*/

a {
    text-decoration: none;
}

// .link-white {
//     --bs-link-color-rgb: var(--theme-white-rgb);
//     --bs-link-hover-color-rgb: var(--theme-white-60-rgb);
// }

.link-social {
    &:hover {
        opacity: 0.6;
    }
}

.stretched-link::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}