/*------------------------------------------------------------------
[ modals ]*/

.modal {
    --bs-modal-padding: 20px;
    --bs-modal-bg: #1B1A1D;
    --bs-modal-border-width: 0;
    --bs-modal-border-radius: var(--bs-border-radius-lg);

    @include media-breakpoint-up(lg) {
        --bs-modal-padding: 60px;
    }
}

.btn-close {
    --bs-btn-close-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='M12.0542 14.6208L3.07083 23.6042C2.73472 23.9403 2.30694 24.1083 1.7875 24.1083C1.26806 24.1083 0.840278 23.9403 0.504167 23.6042C0.168056 23.2681 0 22.8403 0 22.3208C0 21.8014 0.168056 21.3736 0.504167 21.0375L9.4875 12.0542L0.504167 3.07083C0.168056 2.73472 0 2.30694 0 1.7875C0 1.26806 0.168056 0.840278 0.504167 0.504167C0.840278 0.168056 1.26806 0 1.7875 0C2.30694 0 2.73472 0.168056 3.07083 0.504167L12.0542 9.4875L21.0375 0.504167C21.3736 0.168056 21.8014 0 22.3208 0C22.8403 0 23.2681 0.168056 23.6042 0.504167C23.9403 0.840278 24.1083 1.26806 24.1083 1.7875C24.1083 2.30694 23.9403 2.73472 23.6042 3.07083L14.6208 12.0542L23.6042 21.0375C23.9403 21.3736 24.1083 21.8014 24.1083 22.3208C24.1083 22.8403 23.9403 23.2681 23.6042 23.6042C23.2681 23.9403 22.8403 24.1083 22.3208 24.1083C21.8014 24.1083 21.3736 23.9403 21.0375 23.6042L12.0542 14.6208Z' fill='%23E8BF8D'/%3E%3C/svg%3E");
    --bs-btn-close-opacity: 0.95;
    --bs-btn-close-hover-opacity: 0.85;
    --bs-btn-close-focus-shadow: none;
    border-radius: 50%;
    font-size: 18px;
    padding: 0.875em 0.875em;
    background-color: rgba(51, 47, 58, 0.95);
    
    @include media-breakpoint-up(lg) {
        font-size: 25px;
    }
}

.modal-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background: linear-gradient(180deg, rgb(232, 210, 168) 0%, rgb(232, 187, 136) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 0.75rem;

    @include media-breakpoint-up(lg) {
        font-size: 40px;
    }
}

// .modal-backdrop {}

/* modal-consultation */

.modal-consultation {
    --bs-modal-width: 825px;
    
    .modal-subtitle {
        opacity: 0.8;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.3;
        letter-spacing: 0.02em;
    }

    @include media-breakpoint-up(lg) {
        .btn-close {
            position: absolute;
            top: 0;
            right: -85px;
        }

        .modal-subtitle {
            font-size: 18px;
        }
    }
}

/* modal-success */

.modal-success {
    --bs-modal-width: 825px;

    .modal-img {
        max-width: 175px;
    }

    .modal-subtitle {
        opacity: 0.8;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.4;
        letter-spacing: 0.02em;
    }

    @include media-breakpoint-up(lg) {
        .btn-close {
            position: absolute;
            top: 0;
            right: -85px;
        }

        .modal-img {
            max-width: 100%;
        }

        .modal-subtitle {
            font-size: 20px;
        }
    }
}

/*------------------------------------------------------------------
[ offcanvas ]*/

// .offcanvas {}

// .offcanvas-backdrop {
//     background: rgba(0, 0, 67);
// }

/* offcanvas-mobilemenu */

.offcanvas-mobilemenu {
    --bs-offcanvas-height: 100dvh;
    // top: 15px !important;
    // right: 15px !important;
    // left: 15px !important;
}