/*------------------------------------------------------------------
[ scroll-top ]*/

.scroll-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: block;
    width: 70px;
    height: 70px;
    cursor: pointer;
    border-radius: 50%;
    opacity: 1;
    visibility: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px auto;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='22' viewBox='0 0 19 22' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.53697 10.463C-0.178991 9.74707 -0.178991 8.58626 0.53697 7.8703L7.8703 0.53697C8.58626 -0.178992 9.74707 -0.178992 10.463 0.53697L17.7964 7.8703C18.5123 8.58626 18.5123 9.74707 17.7964 10.463C17.0804 11.179 15.9196 11.179 15.2036 10.463L11 6.25939L11 20.1667C11 21.1792 10.1792 22 9.16667 22C8.15414 22 7.33333 21.1792 7.33333 20.1667L7.33333 6.25939L3.1297 10.463C2.41373 11.179 1.25293 11.179 0.53697 10.463Z' fill='white'/%3E%3C/svg%3E");
    transform: translateY(45px);
    transition: all 300ms linear;
    z-index: 10000;

    // &::after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     display: block;
    //     width: 50px;
    //     height: 50px;
    //     cursor: pointer;
    //     border-radius: 50%;

    //     box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.04);
    //     z-index: 1;
    // }

    svg {
        color: #FFE4BB;
        border-radius: 50%;
        background: transparent;

        path {
            fill: none;
        }
    }

    .progress-circle path {
        stroke: #FFE4BB;
        stroke-width: 4px;
        box-sizing: border-box;
        transition: all 400ms linear;
    }

    &.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    @include media-breakpoint-down(lg) {
        right: 20px;
        bottom: 20px;
        height: 48px;
        width: 48px;
        background-size: 15px auto;
    
        &::after {
            line-height: 40px;
            font-size: 16px;
            height: 40px;
            width: 40px;
        }
    }
}