/*------------------------------------------------------------------
[ sections ]*/

.section {
    position: relative;

    &__title {
        text-transform: uppercase;
        background: linear-gradient(180deg, rgb(232, 210, 168) 0%, rgb(232, 187, 136) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    &__subtitle {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.3;
        letter-spacing: 0.02em;
    }

    @include media-breakpoint-up(lg) {
        &__subtitle {
            font-size: 28px;
        }
    }
}

/*------------------------------------------------------------------
[ home page ]*/

/* section-home-hero */

.section-home-hero {
    position: relative;
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 65px;
    color: #F0DDD8;
    background: linear-gradient(181.39deg, #040308 11.13%, #2C2837 100.6%);

    .bg-absolute-img {
        position: absolute;
        top: -248px;
        left: 50%;
        transform: translateX(-50%);
        width: 717px;
        height: auto;
        pointer-events: none;
    }

    .bg-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 223px;
        background: linear-gradient(0deg, rgba(21, 19, 22, 0) 8.52%, #151316 85.2%);
    }

    &__img {
        max-width: 281px;
    }

    &__title {
        font-size: 24px;
        line-height: 1.1;
        text-transform: uppercase;
        background: linear-gradient(180deg, rgba(232, 210, 168, 1) 0%, rgba(232, 187, 136, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-bottom: 8px;
    }

    &__subtitle {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.3;
        letter-spacing: 0.02em;
    }

    &__btn-wrapper {
        margin-top: 17px;
    }

    &__show-more {
        position: absolute;
        bottom: 0;
        left: 50%;
        padding: 8px 9px;
        border: 1px solid #FFE4BB;
        border-radius: 10px;
        transform: translateX(-50%);
        z-index: 10;
        pointer-events: none;
    }

    @include media-breakpoint-up(lg) {
        padding-top: 150px;
        padding-bottom: 52px;

        .bg-absolute-img {
            top: -884px;
            right: -616px;
            left: auto;
            transform: none;
            width: auto;
        }

        &__img {
            max-width: 100%;
        }

        &__title {
            font-size: 76px;
            margin-top: 96px;
            margin-bottom: 100px;
        }

        &__subtitle {
            font-size: 26px;
            max-width: 822px;
        }

        &__btn-wrapper {
            margin-top: 40px;
        }

        &__tags {
            margin-top: 113px;
        }
    }
}

/* section-about */

.section-about {
    padding: 40px 0;
    background: radial-gradient(257.31% 107.18% at 50% -14.35%, #2C2837 17.61%, rgba(44, 40, 55, 0.87) 25.02%, rgba(4, 3, 8, 0.6) 63.46%, rgba(4, 3, 8, 0.4) 100%);

    &__header {
        margin-bottom: 37px;
    }

    @include media-breakpoint-up(lg) {
        padding: 60px 0 90px;

        &__header {
            margin-bottom: 80px;
        }
    }
}

/* section-categories */

.section-categories {
    padding: 40px 0;
    background: #040308;

    &__header {
        margin-bottom: 24px;
    }

    .jumbotron {
        padding: 28px;
        border-radius: var(--bs-border-radius-lg);
        background: linear-gradient(315.53deg, #040308 -24.34%, #504442 129.66%);

        &__title {
            font-size: 20px;
            font-weight: 400;
            line-height: 1.3;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            margin-top: 32px;
            margin-bottom: 24px;
        }
    }

    @include media-breakpoint-up(lg) {
        padding: 80px 0;

        &__header {
            margin-bottom: 80px;
        }

        .jumbotron {
            padding: 50px;

            &__title {
                font-size: 44px;
                margin-top: 0;
                margin-bottom: 108px;
            }
        }
    }
}

/* section-price */

.section-price {
    padding: 40px 0;
    background: #040308;

    &__header {
        max-width: 1500px;
        margin: 0 auto;
        margin-bottom: 32px;
    }

    @include media-breakpoint-up(lg) {
        padding: 80px 0;

        &__header {
            margin-bottom: 60px;
        }
    }
}

/* section-faq */

.section-faq {
    padding: 40px 0;
    background: #040308;
    
    &__header {
        margin-bottom: 26px;
    }

    &__card {
        border-radius: var(--bs-border-radius-lg);
        padding: 30px 40px 0;
        background: radial-gradient(96.58% 88.3% at 2.23% 7.45%, rgba(59, 39, 69, 0.4) 0%, rgba(35, 30, 44, 0.4) 100%);

        .card-text {
            --bs-link-color-rgb: 240, 221, 216;
            --bs-link-hover-color-rgb: 240, 221, 216;
            color: #fff;
            font-size: 12px;
            font-weight: 400;
            line-height: 1.3;
            letter-spacing: 0.02em;

            a {
                text-decoration: underline;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        padding: 80px 0;

        &__header {
            margin-bottom: 60px;
        }

        &__card {
            padding: 70px 38px 24px;

            .card-text {
                font-size: 24px;
                margin-bottom: 39px;
            }
        }
    }
}

/* section-cta-form */

.section-cta-form {
    padding: 40px 0;
    background: #040308;

    .cta-form-wrapper {
        position: relative;
        overflow: hidden;
        padding: 16px;
        border-radius: var(--bs-border-radius-lg);
        background: linear-gradient(95.88deg, #0F0C17 4.58%, #1B1A1D 66.44%);

        .bg-absolute-img {
            position: absolute;
            top: -275px;
            left: 28px;
            width: 548px;
            height: auto;
            pointer-events: none;
        }
    }

    &__title {
        margin-bottom: 14px;
    }

    &__subtitle {
        font-size: 12px;
        font-weight: 300;
        line-height: 1.3;
        letter-spacing: 0.02em;
        opacity: 0.8;
    }

    @include media-breakpoint-up(lg) {
        padding: 80px 0;

        .cta-form-wrapper {
            padding: 60px;

            .bg-absolute-img {
                top: -723px;
                left: -51px;
                width: auto;
            }
        }

        &__title {
            margin-bottom: 95px;
        }

        &__subtitle {
            font-size: 18px;
        }
    }
}