/*------------------------------------------------------------------
[ variables ]*/

:root {
    // Theme fonts
    --theme-ff-main: 'Bounded', sans-serif;
    --theme-ff-title: 'Bounded', sans-serif;

    // Theme colors HEX
    --theme-purple: #412752;

    // Theme colors RGB
    --theme-purple-rgb: 65, 39, 82;

    // Theme font sizes
    --fs-h1: 24px;
    --fs-h2: 24px;
    --fs-h3: 22px;
    --fs-h4: 18px;
    --fs-h5: 16px;
    --fs-h6: 16px;
    --fs-small: 13px;
    --fs-x-small: 13px;

    // Swiper
    --swiper-theme-color: #FFE4BB;

    @include media-breakpoint-up(xl) {
        --fs-h1: 76px;
        --fs-h2: 48px;
        --fs-h3: 28px;
        --fs-h4: 22px;
        --fs-h5: 18px;
        --fs-h6: 16px;
        --fs-small: 16px;
        --fs-x-small: 14px;
    }
}
