    <footer class="footer">
        <div class="container">
            <div class="footer-wrapper">
                
                <!-- footer-main-bar -->
                <div class="footer-main-bar">
                    <div class="footer-main-bar__widget">
                        <div class="footer-logo">
                            <img src="img/logo/logo-footer.svg" alt="Мобильные системы и технологии">
                        </div>
                    </div>
                    <div class="footer-main-bar__widget">
                        <nav class="footer-navigation">
                            <ul class="nav footer-nav">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Главная</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">О нас</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Направления</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Команда</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Процесс работы</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Контакты</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer-main-bar__widget">
                        <nav class="footer-navigation">
                            <ul class="nav footer-nav">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Политика конфиденциальности</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Публичная оферта</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Политика использования cookies</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer-main-bar__widget">
                        <div class="footer-contacts d-flex flex-column gap-15 gap-md-20">
                            <div>
                                <a href="tel:88007001212">8 800 700 1212</a>
                            </div>
                            <div>
                                <a href="mailto:info@most.team">info@most.team</a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- footer-copyright-bar -->
                <div class="footer-copyright-bar">
                    <div class="footer-copyright-bar__widget">
                        <div class="d-flex flex-wrap gap-15">
                            <div>ООО «СМАРТКОИН»</div>
                            <div>ИНН 1215218922</div>
                            <div>ОГРН 1171215005620</div>
                        </div>
                    </div>
                    <div class="footer-copyright-bar__widget">
                        <div>©МоСТ, 2025</div>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <!-- modal-consultation -->
    @@include('modal-consultation.html')

    <!-- modal-success -->
    @@include('modal-success.html')

    <!-- modal-team-member -->
    @@include('modal-team-member.html')

    <!-- Scroll To Top -->
    <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>

    <!-- scripts -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/fancybox.umd.js"></script>
    <script src="js/imask.min.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/main.js"></script>

</body>

</html>