<div class="modal modal-success fade" id="modalSuccess" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <!-- bg-absolute-blue-gradient-divider -->
                <div class="bg-absolute-blue-gradient-divider">
                    <svg role="presentation" class="bg-absolute-blue-gradient-divider__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 200" preserveAspectRatio="none"><path d="M1280 200H0V0l1280 195.5v4.5z"></path></svg>
                </div>
                <div class="bg-absolute-blue-gradient-spacer"></div>
                <!-- bg-absolute-img -->
                <img class="bg-absolute-img" src="img/footer/bg-modal-success.png" alt="..." style="filter: drop-shadow(0px 40px 60px rgba(0, 0, 44, 0.25));">
                <!-- btn-close -->
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="position-relative">
                    <div class="h4 fw-medium mb-1">Спасибо!</div>
                    <div class="fs-6 fw-light">Ваша заявка принята. Мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время</div>
                    <div class="mt-20">
                        <button class="btn btn-outline-black btn-l btn-animated w-100" data-bs-dismiss="modal">
                            <div class="animated-content">
                                <div class="animated-content__default">
                                    <span>Закрыть</span>
                                </div>
                                <div class="animated-content__hidden">
                                    <span>Закрыть</span>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>