<div class="modal modal-team-member fade" id="modalTeamMember" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">

                <!-- btn-close -->
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- card -->
                <div class="card card-modal-team-member">
                    <img class="card-media" src="img/home/card-team-member-04.png" alt="">
                    <div class="card-body">
                        <div class="card-title">CTO</div>
                        <div class="card-content">
                            <div>
                                <h4>Наша экспертиза и технологии</h4>
                                <p>•&nbsp;Опыт:&nbsp;10+ лет в мобильной разработке.</p>
                                <p>•&nbsp;Компетенции:&nbsp;Full-stack архитектор (клиент-сервер).</p>
                                <p>•&nbsp;Сферы:&nbsp;Финансы (FinTech), e-commerce, медицина (HealthTech), социальные проекты, IoT.</p>
                                <p>•&nbsp;Технологии:&nbsp;Знание всего цикла от выбора стека (Flutter vs Native) до проектирования масштабируемых серверных кластеров (AWS, GCP, микросервисы).</p>
                            </div>
                            <div>
                                <h4>Ваша выгода и результат</h4>
                                <p>Вы получаете технологического партнера, а не подрядчика.</p>
                                <p>•&nbsp;Снижаете риски:&nbsp;Архитектура, заложенная с первого дня, позволяет масштабироваться без дорогих переделок.</p>
                                <p>•&nbsp;Экономите бюджет:&nbsp;Оптимальный выбор технологий под ваши задачи, а не модные тренды.</p>
                                <p>•&nbsp;Получаете конкурентное преимущество:&nbsp;Опыт в различных сферах позволяет предлагать проверенные и инновационные решения.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>