<div class="modal modal-success fade" id="modalSuccess" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">

                <!-- btn-close -->
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- text -->
                <div class="text-center">
                    <div class="mb-20">
                        <img class="modal-img img-fluid" src="img/home/modal-check-01.png" alt="">
                    </div>
                    <div class="modal-title mb-20">Спасибо за доверие!<br>Заявка успешно отправлена</div>
                    <div class="modal-subtitle">Мы&nbsp;уже получили ваш&nbsp;запрос и&nbsp;передали его&nbsp;в&nbsp;отдел продаж. Наш&nbsp;специалист внимательно изучит вашу задачу, чтобы&nbsp;предложить решение, которое соответствует вашим целям и&nbsp;бюджету, свяжется с&nbsp;вами в&nbsp;ближайшее время, ответит на&nbsp;вопросы и&nbsp;обсудит удобный формат дальнейшей работы.</div>
                </div>

            </div>
        </div>
    </div>
</div>