<section class="section section-categories" id="homeCategories">
    <div class="container">

        <!-- header -->
        <div class="section-categories__header text-lg-center">
            <h2 class="section__title">Что мы можем для вас создать</h2>
            <div class="section__subtitle">Помогаем компаниям переводить ключевые процессы и&nbsp;сервисы
                в&nbsp;мобильный формат. Компетентны в&nbsp;ключевых сегментах рынка приложений&nbsp;— от&nbsp;коммерции
                и&nbsp;финансов до&nbsp;развлечений и&nbsp;социальных сервисов</div>
        </div>

        <!-- grid -->
        <div class="d-grid grid-cols-1 grid-cols-md-2 row-gap-15 gap-md-20 mb-4 mb-lg-40">
            <!-- item -->
            <div class="card card-category">
                <div class="card-body">
                    <div class="card-title">Финтех</div>
                    <div class="card-description">Умное управление личными финансами: бюджет, контроль расходов и
                        наглядная аналитика в одном приложении.</div>
                    <div class="card-img-wrapper">
                        <img class="card-img img-fluid wow fadeInUp" src="img/home/card-categories-01.png" alt=""
                            data-wow-duration="1s" data-wow-delay="0.1s">
                    </div>
                </div>
            </div>
            <!-- item -->
            <div class="card card-category">
                <div class="card-body">
                    <div class="card-title">E-commerce</div>
                    <div class="card-description">Умное управление личными финансами: бюджет, контроль расходов и
                        наглядная аналитика в одном приложении.</div>
                    <div class="card-img-wrapper">
                        <img class="card-img img-fluid wow fadeInUp" src="img/home/card-categories-02.png" alt=""
                            data-wow-duration="1s" data-wow-delay="0.3s">
                    </div>
                </div>
            </div>
            <!-- item -->
            <div class="card card-category">
                <div class="card-body">
                    <div class="card-title">Образование</div>
                    <div class="card-description">Умное управление личными финансами: бюджет, контроль расходов и
                        наглядная аналитика в одном приложении.</div>
                    <div class="card-img-wrapper">
                        <img class="card-img img-fluid" src="img/home/card-categories-03.png" alt="">
                    </div>
                </div>
            </div>
            <!-- item -->
            <div class="card card-category">
                <div class="card-body">
                    <div class="card-title">Корпоративные системы</div>
                    <div class="card-description">Умное управление личными финансами: бюджет, контроль расходов и
                        наглядная аналитика в одном приложении.</div>
                    <div class="card-img-wrapper">
                        <img class="card-img img-fluid" src="img/home/card-categories-04.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- jumbotron -->
        <div class="jumbotron">
            <!-- absolute-img -->
            <img class="bg-absolute-img-1" src="img/home/jumbotron-bg-01.png" alt="">
            <!-- absolute-img -->
            <img class="bg-absolute-img-2" src="img/home/jumbotron-bg-02.png" alt="">
            <!-- content -->
            <div class="position-relative d-grid grid-cols-24 row-gap-12 gap-lg-20">
                <div class="col-span-24 col-span-lg-11">
                    <div class="text-center text-lg-start">
                        <h3 class="jumbotron__title wow img-custom-anim-left" data-wow-duration="1s">Что нужно именно
                            вашему бизнесу?</h3>
                        <a href="#modalConsultation" data-bs-toggle="modal"
                            class="btn btn-gold-gradient btn-l w-100 w-lg-auto wow img-custom-anim-left"
                            data-wow-duration="1.2s">Обсудить проект</a>
                    </div>
                </div>
                <div class="col-span-24 col-span-lg-13 jumbotron-column-img hide-on-mobile">
                    <div class="d-grid grid-cols-1 grid-cols-md-3 row-gap-20 gap-md-20 h-100">
                        <img class="img-fluid wow fadeInUp" src="img/home/jumbotron-01.png" alt=""
                            data-wow-duration="1s" data-wow-delay="0.1s">
                        <img class="img-fluid wow fadeInDown" src="img/home/jumbotron-02.png" alt=""
                            data-wow-duration="1s" data-wow-delay="0.6s">
                        <img class="img-fluid wow fadeInUp" src="img/home/jumbotron-03.png" alt=""
                            data-wow-duration="1s" data-wow-delay="0.3s">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>