<section class="section section-with-only-header-and-text">
    <div class="container">

        <!-- header -->
        <div class="section-with-only-header-and-text__header">
            <h2 class="section__title">@@title</h2>
            @@if(subtitle){
            <div class="section__subtitle">@@subtitle</div>
            }
        </div>

        <!-- text -->
        <div class="fs-5 max-w-1350px">
            <p>Для предотвращения заказов недоступных блюд и поддержания актуальности данных мы реализовали двухстороннюю синхронизацию со складом.</p>
            <ul>
                <li>На основе технологических карт система проверяет наличие ингредиентов на складе.</li>
                <li>При оформлении заказа данные о списании ингредиентов автоматически передаются в 1С, поддерживая актуальность складских остатков и обеспечивая точный учет.</li>
            </ul>
        </div>

    </div>
</section>