<section class="section section-project-hero">
    <div class="container">

        <!-- hero-img -->
        <div class="section-banner-wrapper">
            <div class="project-meta-platforms">
                <span>Desktop</span>
                <span>Android</span>
                <span>iOS</span>
            </div>
            <img src="@@bannerImg" alt="">
        </div>

        <!-- header -->
        <div class="section-project-hero__header">
            <h1 class="h2 section__title">@@title</h1>
            <div class="section__subtitle">@@subtitle</div>
        </div>
        
        <!-- meta -->
        <div class="section-project-hero__meta">
            <div class="row gy-4">
                <div class="col-lg-12">
                    <div>
                        <div class="h5 fw-light text-uppercase text-opacity-50 text-body mb-10">Технологии</div>
                        <div class="fs-3">Google Flutter, PHP 8+, Laravel, MySQL 8+</div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row gy-4 gx-2">
                        <div class="col-12 col-md-8">
                            <div>
                                <div class="h5 fw-light text-uppercase text-opacity-50 text-body mb-10">Направление</div>
                                <div class="fs-3">@@direction</div>
                            </div>
                        </div>
                        <div class="col-12 col-md-10">
                            <div>
                                <div class="h5 fw-light text-uppercase text-opacity-50 text-body mb-10">Срок реализации</div>
                                <div class="fs-3">@@deadline</div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div>
                                <div class="h5 fw-light text-uppercase text-opacity-50 text-body mb-10">Год</div>
                                <div class="fs-3">2025</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>