<section class="section section-project-goal-2">
    <div class="container">
        <div class="d-grid grid-cols-1 grid-cols-md-2 row-gap-30 gap-md-20">

            <div class="d-flex flex-column justify-content-between gap-20px gap-lg-40px">
                <!-- header -->
                <div class="section-project-goal-2__header flex-fill">
                    <h2 class="section__title">Цель проекта</h2>
                    <div class="section__subtitle">@@goalText</div>
                </div>
                <!-- image -->
                <img class="img-fluid w-100 rounded-3" src="@@goalImg" alt="">
            </div>

            <div class="d-flex flex-column justify-content-between gap-20px gap-lg-40px">
                <!-- header -->
                <div class="section-project-goal-2__header flex-fill">
                    <h2 class="section__title">О клиенте</h2>
                    <div class="section__subtitle max-w-705px">@@aboutClient</div>
                </div>
                <!-- image -->
                <img class="img-fluid w-100 rounded-3" src="@@aboutImg" alt="">
            </div>

        </div>
    </div>
</section>