<section class="section section-projects-cards-about-1">
    <div class="container">

        <!-- header -->
        <div class="section-projects-cards-about-1__header">
            <h2 class="section__title">Основные задачи по проекту</h2>
            <div class="section__subtitle">Проект был выполнен в 2025 году за 3 месяца полного цикла:</div>
        </div>

        <!-- grid -->
        <div class="d-grid grid-cols-1 grid-cols-md-2 grid-cols-xxl-4 row-gap-15 gap-md-20">
            <!-- item -->
            <div class="card card-project-about text-center text-white bg-gradient-green">
                <div class="card-body">
                    <div class="d-flex flex-column justify-content-between gap-20 h-100">
                        <div>
                            <div class="card-subtitle fs-3 mb-10">01</div>
                            <div class="card-title h3 text-reset">Анализ и&nbsp;проектирование</div>
                            <div class="card-description">
                                <p>Глубокое погружение в&nbsp;процессы клиента, проектирование пользовательских сценариев для&nbsp;пациентов и&nbsp;документация требований</p>
                            </div>
                        </div>
                        <div class="card-icon-wrapper">
                            <img class="card-img-icon" src="img/project/project-about-icon-01.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- item -->
            <div class="card card-project-about text-center text-white bg-gradient-green">
                <div class="card-body">
                    <div class="d-flex flex-column justify-content-between gap-20 h-100">
                        <div>
                            <div class="card-subtitle fs-3 mb-10">02</div>
                            <div class="card-title h3 text-reset">Полноценная разработка</div>
                            <div class="card-description">
                                <p>Разработка системы и алгоритма распределения талонов по окнам регистрации</p>
                            </div>
                        </div>
                        <div class="card-icon-wrapper">
                            <img class="card-img-icon" src="img/project/project-about-icon-02.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- item -->
            <div class="card card-project-about text-center text-white bg-gradient-green">
                <div class="card-body">
                    <div class="d-flex flex-column justify-content-between gap-20 h-100">
                        <div>
                            <div class="card-subtitle fs-3 mb-10">03</div>
                            <div class="card-title h3 text-reset">Работа с&nbsp;оборудованием</div>
                            <div class="card-description">
                                <p>Подбор, тестирование и интеграция оборудования для терминала самообслуживания</p>
                            </div>
                        </div>
                        <div class="card-icon-wrapper">
                            <img class="card-img-icon" src="img/project/project-about-icon-03.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- item -->
            <div class="card card-project-about text-center text-white bg-gradient-green">
                <div class="card-body">
                    <div class="d-flex flex-column justify-content-between gap-20 h-100">
                        <div>
                            <div class="card-subtitle fs-3 mb-10">04</div>
                            <div class="card-title h3 text-reset">Внедрение</div>
                            <div class="card-description">
                                <p>Установка системы в медицинском центре, обучение персонала, запуск и сопровождение</p>
                            </div>
                        </div>
                        <div class="card-icon-wrapper">
                            <img class="card-img-icon" src="img/project/project-about-icon-04.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>