<section class="section section-projects">
    <div class="section__anchor section-projects__anchor" id="homeProjects"></div>
    <div class="container">

        <!-- header -->
        <div class="section-projects__header">
            <h2 class="section__title">Кейсы</h2>
            <div class="section__subtitle">Успешные решения для&nbsp;бизнеса</div>
        </div>

        <!-- grid -->
        <div class="d-grid grid-cols-1 grid-cols-md-2 row-gap-15 gap-md-20">
            <!-- item -->
            <div class="card card-project">
                <div class="card-img-wrapper">
                    <div class="project-meta-platforms">
                        <span>Desktop</span>
                    </div>
                    <a href="single-project-1.html">
                        <img class="card-img-thumb" src="img/project/project-item-thumb-01.jpg" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <div class="card-subtitle">Медицина</div>
                    <div class="card-title">
                        <a href="single-project-1.html">Цифровая система управления очередью для медицинского центра</a>
                    </div>
                </div>
            </div>
            <!-- item -->
            <div class="card card-project">
                <div class="card-img-wrapper">
                    <div class="project-meta-platforms">
                        <span>Android</span>
                        <span>iOS</span>
                    </div>
                    <a href="single-project-2.html">
                        <img class="card-img-thumb" src="img/project/project-item-thumb-02.jpg" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <div class="card-subtitle">Фитнес</div>
                    <div class="card-title">
                        <a href="single-project-2.html">Приложение с контролем техники на базе компьютерного зрения</a>
                    </div>
                </div>
            </div>
            <!-- item -->
            <div class="card card-project">
                <div class="card-img-wrapper">
                    <div class="project-meta-platforms">
                        <span>Android</span>
                        <span>iOS</span>
                    </div>
                    <a href="single-project-3.html">
                        <img class="card-img-thumb" src="img/project/project-item-thumb-03.jpg" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <div class="card-subtitle">Кафе и рестораны</div>
                    <div class="card-title">
                        <a href="single-project-3.html">Внутренняя система для ресторанного бизнеса</a>
                    </div>
                </div>
            </div>
            <!-- item -->
            <div class="card card-project">
                <div class="card-img-wrapper">
                    <div class="project-meta-platforms">
                        <span>Desktop</span>
                        <span>Android</span>
                        <span>iOS</span>
                    </div>
                    <a href="single-project-4.html">
                        <img class="card-img-thumb" src="img/project/project-item-thumb-04.jpg" alt="">
                    </a>
                </div>
                <div class="card-body">
                    <div class="card-subtitle">Безопасность</div>
                    <div class="card-title">
                        <a href="single-project-4.html">Внутренняя система для мониторинга персонала</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>