<section class="section section-project-more-about-3">
    <div class="container">

        <!-- header -->
        <div class="section-project-more-about-3__header">
            <div class="h3 text-reset">@@title</div>
            <div class="section__subtitle">@@subtitle</div>
        </div>

        <div class="d-grid grid-cols-1 grid-cols-md-2 row-gap-20 gap-md-20">
            @@for(var i = 0; i < items.length; i++) {
            <!-- image -->
            <img class="img-fluid w-100" src="` + items[i] + `" alt="">
            }
        </div>

    </div>
</section>