<section class="section section-home-hero" id="homeHero">

    <img class="bg-absolute-img" src="img/home/hero-bg-01.svg" alt="">

    <div class="bg-overlay"></div>

    <!-- content -->
    <div class="container">
        <div class="position-relative">
            <div class="d-grid grid-cols-24 row-gap-10 gap-lg-20">
                <div class="col-span-24 col-span-lg-10">
                    <div class="d-flex align-items-center justify-content-center">
                        <img class="section-home-hero__img img-fluid wow fadeInUp" src="img/home/hero-01.png" alt=""
                            data-wow-duration="1.2s" data-wow-delay="0.1s">
                    </div>
                </div>
                <div class="col-span-24 col-span-lg-13 order-lg-first">
                    <h1 class="section-home-hero__title">
                        <span class="wow img-custom-anim-left" data-wow-duration="1.5s" data-wow-delay="0.1s">Создаем
                            мобильные приложения</span>
                        <span class="wow img-custom-anim-right" data-wow-duration="1.7s" data-wow-delay="0.1s">нового
                            уровня</span>
                    </h1>
                    <div class="section-home-hero__subtitle wow img-custom-anim-right" data-wow-duration="1.5s"
                        data-wow-delay="0.1s">Полный цикл: от идеи до поддержки и&nbsp;развития.<br>Единый код для всех
                        платформ — экономия вашего бюджета и времени</div>
                    <div class="section-home-hero__btn-wrapper">
                        <a href="#modalConsultation" data-bs-toggle="modal"
                            class="btn btn-primary btn-l w-100 w-lg-auto wow img-custom-anim-right">Обсудить проект</a>
                    </div>
                    <div class="section-home-hero__tags hide-on-mobile">
                        <span>#теги</span>
                        <span>#кроссплатформенность</span>
                        <span>#mobilapp</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-home-hero__show-more">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="26" viewBox="0 0 8 26" fill="none">
                <path
                    d="M4.33134 0.517822C4.33134 0.231817 4.09948 -3.62396e-05 3.81348 -3.62396e-05C3.52747 -3.62396e-05 3.29562 0.231817 3.29562 0.517822H3.81348H4.33134ZM3.4473 25.4421C3.64953 25.6444 3.97742 25.6444 4.17966 25.4421L7.47529 22.1465C7.67753 21.9443 7.67753 21.6164 7.47529 21.4141C7.27305 21.2119 6.94516 21.2119 6.74293 21.4141L3.81348 24.3436L0.884027 21.4141C0.68179 21.2119 0.3539 21.2119 0.151664 21.4141C-0.0505724 21.6164 -0.0505724 21.9443 0.151664 22.1465L3.4473 25.4421ZM3.81348 0.517822H3.29562L3.29562 25.076H3.81348H4.33134L4.33134 0.517822H3.81348Z"
                    fill="white" style="fill:white;fill-opacity:1;" />
            </svg>
        </div>
    </div>

</section>