<section class="section section-team" id="homeTeam">
    <div class="container">
        <!-- header -->
        <div class="section-team__header text-center text-lg-start">
            <h2 class="section__title">Команда</h2>
        </div>
    </div>

    <!-- swiperTeamDesktop -->
    <div class="swiper swiperTeamDesktop">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="card card-team-desktop" data-bs-target="#modalTeamMember" data-bs-toggle="modal">
                    <img class="card-media" src="img/home/card-team-member-04.png" alt="">
                    <div class="card-body">
                        <div class="card-title">CTO</div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card card-team-desktop" data-bs-target="#modalTeamMember" data-bs-toggle="modal">
                    <img class="card-media" src="img/home/card-team-member-05.png" alt="">
                    <div class="card-body">
                        <div class="card-title">Frontend-разработчик</div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card card-team-desktop" data-bs-target="#modalTeamMember" data-bs-toggle="modal">
                    <img class="card-media" src="img/home/card-team-member-06.png" alt="">
                    <div class="card-body">
                        <div class="card-title">Backend-разработчик</div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card card-team-desktop" data-bs-target="#modalTeamMember" data-bs-toggle="modal">
                    <img class="card-media" src="img/home/card-team-member-07.png" alt="">
                    <div class="card-body">
                        <div class="card-title">Тестировщик</div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card card-team-desktop" data-bs-target="#modalTeamMember" data-bs-toggle="modal">
                    <img class="card-media" src="img/home/card-team-member-01.png" alt="">
                    <div class="card-body">
                        <div class="card-title">Менеджер</div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card card-team-desktop" data-bs-target="#modalTeamMember" data-bs-toggle="modal">
                    <img class="card-media" src="img/home/card-team-member-02.png" alt="">
                    <div class="card-body">
                        <div class="card-title">UX/UI Дизайнер</div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card card-team-desktop" data-bs-target="#modalTeamMember" data-bs-toggle="modal">
                    <img class="card-media" src="img/home/card-team-member-03.png" alt="">
                    <div class="card-body">
                        <div class="card-title">Бизнес аналитик</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center gap-4 mt-30">
            <button type="button" class="btn btn-outline-gold btn-icon-l btn-swiper-prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="19" viewBox="0 0 22 19" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M10.463 17.7964C9.74707 18.5123 8.58626 18.5123 7.8703 17.7964L0.536971 10.463C-0.178991 9.74707 -0.17899 8.58626 0.536971 7.8703L7.87031 0.536971C8.58627 -0.178991 9.74707 -0.17899 10.463 0.536971C11.179 1.25293 11.179 2.41374 10.463 3.1297L6.25939 7.33333L20.1667 7.33333C21.1792 7.33333 22 8.15415 22 9.16667C22 10.1792 21.1792 11 20.1667 11L6.25939 11L10.463 15.2036C11.179 15.9196 11.179 17.0804 10.463 17.7964Z"
                        fill="white" />
                </svg>
            </button>
            <button type="button" class="btn btn-outline-gold btn-icon-l btn-swiper-next">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="19" viewBox="0 0 22 19" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M11.537 0.536971C12.2529 -0.17899 13.4137 -0.17899 14.1297 0.536971L21.463 7.8703C22.179 8.58627 22.179 9.74707 21.463 10.463L14.1297 17.7964C13.4137 18.5123 12.2529 18.5123 11.537 17.7964C10.821 17.0804 10.821 15.9196 11.537 15.2036L15.7406 11L1.83333 11C0.820811 11 0 10.1792 0 9.16667C0 8.15414 0.820811 7.33333 1.83333 7.33333L15.7406 7.33333L11.537 3.1297C10.821 2.41373 10.821 1.25293 11.537 0.536971Z"
                        fill="white" />
                </svg>
            </button>
        </div>
    </div>

    <!-- swiperTeamMobile -->
    <div class="swiper swiperTeamMobile">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="d-flex flex-column h-100">
                    <div class="team-member-position">
                        <h3>CTO</h3>
                    </div>
                    <div class="card card-team-mobile">
                        <div class="card-body">
                            <div class="card-media">
                                <img src="img/home/card-team-member-mobile-04.png" alt="">
                            </div>
                            <div class="card-content">
                                <h4>Наша экспертиза и&nbsp;технологии</h4>
                                <ul>
                                    <li>Опыт: 10+ лет в мобильной разработке.</li>
                                    <li>Компетенции: Full-stack архитектор (клиент-сервер).</li>
                                    <li>Сферы:Финансы (FinTech), e-commerce, медицина (HealthTech), социальные проекты,
                                        IoT.</li>
                                    <li>Технологии: Знание всего цикла от выбора стека (Flutter vs Native) до
                                        проектирования масштабируемых серверных кластеров (AWS, GCP, микросервисы).</li>
                                </ul>
                                <h4>Ваша выгода и&nbsp;результат</h4>
                                <p>Вы получаете технологического партнера, а не подрядчика.</p>
                                <ul>
                                    <li>Снижаете риски: Архитектура, заложенная с первого дня, позволяет
                                        масштабироваться без дорогих переделок.</li>
                                    <li>Экономите бюджет: Оптимальный выбор технологий под ваши задачи, а не модные
                                        тренды.</li>
                                    <li>Получаете конкурентное преимущество: Опыт в различных сферах позволяет
                                        предлагать проверенные и инновационные решения.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="d-flex flex-column h-100">
                    <div class="team-member-position">
                        <h3>Frontend-разработчик</h3>
                    </div>
                    <div class="card card-team-mobile">
                        <div class="card-body">
                            <div class="card-media">
                                <img src="img/home/card-team-member-mobile-05.png" alt="">
                            </div>
                            <div class="card-content">
                                <h4>Наша экспертиза и&nbsp;технологии</h4>
                                <ul>
                                    <li>Опыт: 10+ лет в мобильной разработке.</li>
                                    <li>Компетенции: Full-stack архитектор (клиент-сервер).</li>
                                    <li>Сферы:Финансы (FinTech), e-commerce, медицина (HealthTech), социальные проекты,
                                        IoT.</li>
                                    <li>Технологии: Знание всего цикла от выбора стека (Flutter vs Native) до
                                        проектирования масштабируемых серверных кластеров (AWS, GCP, микросервисы).</li>
                                </ul>
                                <h4>Ваша выгода и&nbsp;результат</h4>
                                <p>Вы получаете технологического партнера, а не подрядчика.</p>
                                <ul>
                                    <li>Снижаете риски: Архитектура, заложенная с первого дня, позволяет
                                        масштабироваться без дорогих переделок.</li>
                                    <li>Экономите бюджет: Оптимальный выбор технологий под ваши задачи, а не модные
                                        тренды.</li>
                                    <li>Получаете конкурентное преимущество: Опыт в различных сферах позволяет
                                        предлагать проверенные и инновационные решения.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="d-flex flex-column h-100">
                    <div class="team-member-position">
                        <h3>Backend-разработчик</h3>
                    </div>
                    <div class="card card-team-mobile">
                        <div class="card-body">
                            <div class="card-media">
                                <img src="img/home/card-team-member-mobile-06.png" alt="">
                            </div>
                            <div class="card-content">
                                <h4>Наша экспертиза и&nbsp;технологии</h4>
                                <ul>
                                    <li>Опыт: 10+ лет в мобильной разработке.</li>
                                    <li>Компетенции: Full-stack архитектор (клиент-сервер).</li>
                                    <li>Сферы:Финансы (FinTech), e-commerce, медицина (HealthTech), социальные проекты,
                                        IoT.</li>
                                    <li>Технологии: Знание всего цикла от выбора стека (Flutter vs Native) до
                                        проектирования масштабируемых серверных кластеров (AWS, GCP, микросервисы).</li>
                                </ul>
                                <h4>Ваша выгода и&nbsp;результат</h4>
                                <p>Вы получаете технологического партнера, а не подрядчика.</p>
                                <ul>
                                    <li>Снижаете риски: Архитектура, заложенная с первого дня, позволяет
                                        масштабироваться без дорогих переделок.</li>
                                    <li>Экономите бюджет: Оптимальный выбор технологий под ваши задачи, а не модные
                                        тренды.</li>
                                    <li>Получаете конкурентное преимущество: Опыт в различных сферах позволяет
                                        предлагать проверенные и инновационные решения.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="d-flex flex-column h-100">
                    <div class="team-member-position">
                        <h3>Тестировщик</h3>
                    </div>
                    <div class="card card-team-mobile">
                        <div class="card-body">
                            <div class="card-media">
                                <img src="img/home/card-team-member-mobile-07.png" alt="">
                            </div>
                            <div class="card-content">
                                <h4>Наша экспертиза и&nbsp;технологии</h4>
                                <ul>
                                    <li>Опыт: 10+ лет в мобильной разработке.</li>
                                    <li>Компетенции: Full-stack архитектор (клиент-сервер).</li>
                                    <li>Сферы:Финансы (FinTech), e-commerce, медицина (HealthTech), социальные проекты,
                                        IoT.</li>
                                    <li>Технологии: Знание всего цикла от выбора стека (Flutter vs Native) до
                                        проектирования масштабируемых серверных кластеров (AWS, GCP, микросервисы).</li>
                                </ul>
                                <h4>Ваша выгода и&nbsp;результат</h4>
                                <p>Вы получаете технологического партнера, а не подрядчика.</p>
                                <ul>
                                    <li>Снижаете риски: Архитектура, заложенная с первого дня, позволяет
                                        масштабироваться без дорогих переделок.</li>
                                    <li>Экономите бюджет: Оптимальный выбор технологий под ваши задачи, а не модные
                                        тренды.</li>
                                    <li>Получаете конкурентное преимущество: Опыт в различных сферах позволяет
                                        предлагать проверенные и инновационные решения.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="d-flex flex-column h-100">
                    <div class="team-member-position">
                        <h3>Менеджер</h3>
                    </div>
                    <div class="card card-team-mobile">
                        <div class="card-body">
                            <div class="card-media">
                                <img src="img/home/card-team-member-mobile-01.png" alt="">
                            </div>
                            <div class="card-content">
                                <h4>Наша экспертиза и&nbsp;технологии</h4>
                                <ul>
                                    <li>Опыт: 10+ лет в мобильной разработке.</li>
                                    <li>Компетенции: Full-stack архитектор (клиент-сервер).</li>
                                    <li>Сферы:Финансы (FinTech), e-commerce, медицина (HealthTech), социальные проекты,
                                        IoT.</li>
                                    <li>Технологии: Знание всего цикла от выбора стека (Flutter vs Native) до
                                        проектирования масштабируемых серверных кластеров (AWS, GCP, микросервисы).</li>
                                </ul>
                                <h4>Ваша выгода и&nbsp;результат</h4>
                                <p>Вы получаете технологического партнера, а не подрядчика.</p>
                                <ul>
                                    <li>Снижаете риски: Архитектура, заложенная с первого дня, позволяет
                                        масштабироваться без дорогих переделок.</li>
                                    <li>Экономите бюджет: Оптимальный выбор технологий под ваши задачи, а не модные
                                        тренды.</li>
                                    <li>Получаете конкурентное преимущество: Опыт в различных сферах позволяет
                                        предлагать проверенные и инновационные решения.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="d-flex flex-column h-100">
                    <div class="team-member-position">
                        <h3>UX/UI Дизайнер</h3>
                    </div>
                    <div class="card card-team-mobile">
                        <div class="card-body">
                            <div class="card-media">
                                <img src="img/home/card-team-member-mobile-02.png" alt="">
                            </div>
                            <div class="card-content">
                                <h4>Наша экспертиза и&nbsp;технологии</h4>
                                <ul>
                                    <li>Опыт: 10+ лет в мобильной разработке.</li>
                                    <li>Компетенции: Full-stack архитектор (клиент-сервер).</li>
                                    <li>Сферы:Финансы (FinTech), e-commerce, медицина (HealthTech), социальные проекты,
                                        IoT.</li>
                                    <li>Технологии: Знание всего цикла от выбора стека (Flutter vs Native) до
                                        проектирования масштабируемых серверных кластеров (AWS, GCP, микросервисы).</li>
                                </ul>
                                <h4>Ваша выгода и&nbsp;результат</h4>
                                <p>Вы получаете технологического партнера, а не подрядчика.</p>
                                <ul>
                                    <li>Снижаете риски: Архитектура, заложенная с первого дня, позволяет
                                        масштабироваться без дорогих переделок.</li>
                                    <li>Экономите бюджет: Оптимальный выбор технологий под ваши задачи, а не модные
                                        тренды.</li>
                                    <li>Получаете конкурентное преимущество: Опыт в различных сферах позволяет
                                        предлагать проверенные и инновационные решения.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="d-flex flex-column h-100">
                    <div class="team-member-position">
                        <h3>Бизнес аналитик</h3>
                    </div>
                    <div class="card card-team-mobile">
                        <div class="card-body">
                            <div class="card-media">
                                <img src="img/home/card-team-member-mobile-03.png" alt="">
                            </div>
                            <div class="card-content">
                                <h4>Наша экспертиза и&nbsp;технологии</h4>
                                <ul>
                                    <li>Опыт: 10+ лет в мобильной разработке.</li>
                                    <li>Компетенции: Full-stack архитектор (клиент-сервер).</li>
                                    <li>Сферы:Финансы (FinTech), e-commerce, медицина (HealthTech), социальные проекты,
                                        IoT.</li>
                                    <li>Технологии: Знание всего цикла от выбора стека (Flutter vs Native) до
                                        проектирования масштабируемых серверных кластеров (AWS, GCP, микросервисы).</li>
                                </ul>
                                <h4>Ваша выгода и&nbsp;результат</h4>
                                <p>Вы получаете технологического партнера, а не подрядчика.</p>
                                <ul>
                                    <li>Снижаете риски: Архитектура, заложенная с первого дня, позволяет
                                        масштабироваться без дорогих переделок.</li>
                                    <li>Экономите бюджет: Оптимальный выбор технологий под ваши задачи, а не модные
                                        тренды.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-outline-gold btn-icon-l btn-swiper-prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 22 19" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M10.463 17.7964C9.74707 18.5123 8.58626 18.5123 7.8703 17.7964L0.536971 10.463C-0.178991 9.74707 -0.17899 8.58626 0.536971 7.8703L7.87031 0.536971C8.58627 -0.178991 9.74707 -0.17899 10.463 0.536971C11.179 1.25293 11.179 2.41374 10.463 3.1297L6.25939 7.33333L20.1667 7.33333C21.1792 7.33333 22 8.15415 22 9.16667C22 10.1792 21.1792 11 20.1667 11L6.25939 11L10.463 15.2036C11.179 15.9196 11.179 17.0804 10.463 17.7964Z"
                    fill="white" />
            </svg>
        </button>
        <button type="button" class="btn btn-outline-gold btn-icon-l btn-swiper-next">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" viewBox="0 0 22 19" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M11.537 0.536971C12.2529 -0.17899 13.4137 -0.17899 14.1297 0.536971L21.463 7.8703C22.179 8.58627 22.179 9.74707 21.463 10.463L14.1297 17.7964C13.4137 18.5123 12.2529 18.5123 11.537 17.7964C10.821 17.0804 10.821 15.9196 11.537 15.2036L15.7406 11L1.83333 11C0.820811 11 0 10.1792 0 9.16667C0 8.15414 0.820811 7.33333 1.83333 7.33333L15.7406 7.33333L11.537 3.1297C10.821 2.41373 10.821 1.25293 11.537 0.536971Z"
                    fill="white" />
            </svg>
        </button>
    </div>

</section>