<section class="section section-tags" id="homeTags">
    <div class="container">

        <div class="section-tags__list">
            <span class="section-tags__item">разработка мобильных приложений под ключ</span>
            <span class="section-tags__item">flutter</span>
            <span class="section-tags__item">мобильное приложение для финтех-сервиса</span>
            <span class="section-tags__item">мобильное приложение для финтех-сервиса</span>
            <span class="section-tags__item">b2b</span>
            <span class="section-tags__item">b2с</span>
            <span class="section-tags__item">мобильное приложение для финтех-сервиса</span>
            <span class="section-tags__item">приложение под ключ</span>
            <span class="section-tags__item">app store</span>
            <span class="section-tags__item">google play</span>
            <span class="section-tags__item">мобильное приложение для финтех-сервиса</span>
            <button type="button" class="btn btn-primary btn-m btn-show-more">Показать все</button>
        </div>

    </div>
</section>