<section class="section section-faq" id="homeFaq">
    <div class="container">

        <!-- header -->
        <div class="section-faq__header">
            <h2 class="section__title">Часто задаваемые вопросы</h2>
        </div>

        <!-- grid -->
        <div class="d-grid grid-cols-24 row-gap-12 gap-md-20">
            <div class="col-span-24 col-span-lg-14">
                <!-- accordion -->
                <div class="accordion accordion-faq" id="accordionFaq">
                    <!-- item -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                data-bs-target="#faq-answer-1" aria-expanded="false">
                                <span class="btn-text">Как происходит оплата по проекту?</span>
                                <span class="accordion-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                                        fill="none">
                                        <circle cx="15" cy="15" r="14.5714" stroke="#FFE4BB" stroke-width="0.857143" />
                                        <path
                                            d="M15.0001 18.9396C14.8709 18.9396 14.7508 18.919 14.6395 18.8777C14.5283 18.8365 14.4225 18.7658 14.3221 18.6656L9.50684 13.8503C9.35863 13.7019 9.28273 13.5154 9.27916 13.2908C9.27577 13.0663 9.35166 12.8764 9.50684 12.721C9.6622 12.5659 9.85041 12.4883 10.0715 12.4883C10.2926 12.4883 10.4808 12.5659 10.6361 12.721L15.0001 17.0852L19.364 12.721C19.5124 12.5728 19.6989 12.4969 19.9235 12.4934C20.148 12.49 20.3379 12.5659 20.4933 12.721C20.6484 12.8764 20.726 13.0646 20.726 13.2857C20.726 13.5068 20.6484 13.695 20.4933 13.8503L15.678 18.6656C15.5776 18.7658 15.4718 18.8365 15.3606 18.8777C15.2493 18.919 15.1292 18.9396 15.0001 18.9396Z"
                                            fill="white" />
                                    </svg>
                                </span>
                            </button>
                        </div>
                        <div id="faq-answer-1" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                <p>Мы работаем по поэтапной системе оплаты: проект делится на этапы, и оплата
                                    производится после завершения и демонстрации результатов каждого из них.</p>
                            </div>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                data-bs-target="#faq-answer-2" aria-expanded="false">
                                <span class="btn-text">Вы работаете по договору?</span>
                                <span class="accordion-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                                        fill="none">
                                        <circle cx="15" cy="15" r="14.5714" stroke="#FFE4BB" stroke-width="0.857143" />
                                        <path
                                            d="M15.0001 18.9396C14.8709 18.9396 14.7508 18.919 14.6395 18.8777C14.5283 18.8365 14.4225 18.7658 14.3221 18.6656L9.50684 13.8503C9.35863 13.7019 9.28273 13.5154 9.27916 13.2908C9.27577 13.0663 9.35166 12.8764 9.50684 12.721C9.6622 12.5659 9.85041 12.4883 10.0715 12.4883C10.2926 12.4883 10.4808 12.5659 10.6361 12.721L15.0001 17.0852L19.364 12.721C19.5124 12.5728 19.6989 12.4969 19.9235 12.4934C20.148 12.49 20.3379 12.5659 20.4933 12.721C20.6484 12.8764 20.726 13.0646 20.726 13.2857C20.726 13.5068 20.6484 13.695 20.4933 13.8503L15.678 18.6656C15.5776 18.7658 15.4718 18.8365 15.3606 18.8777C15.2493 18.919 15.1292 18.9396 15.0001 18.9396Z"
                                            fill="white" />
                                    </svg>
                                </span>
                            </button>
                        </div>
                        <div id="faq-answer-2" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                <p>Да, мы работаем по договору. Оригиналами документов обмениваемся с помощью курьерских
                                    служб доставки или почтой.</p>
                            </div>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                data-bs-target="#faq-answer-3" aria-expanded="false">
                                <span class="btn-text">Предоставляете ли гарантию?</span>
                                <span class="accordion-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                                        fill="none">
                                        <circle cx="15" cy="15" r="14.5714" stroke="#FFE4BB" stroke-width="0.857143" />
                                        <path
                                            d="M15.0001 18.9396C14.8709 18.9396 14.7508 18.919 14.6395 18.8777C14.5283 18.8365 14.4225 18.7658 14.3221 18.6656L9.50684 13.8503C9.35863 13.7019 9.28273 13.5154 9.27916 13.2908C9.27577 13.0663 9.35166 12.8764 9.50684 12.721C9.6622 12.5659 9.85041 12.4883 10.0715 12.4883C10.2926 12.4883 10.4808 12.5659 10.6361 12.721L15.0001 17.0852L19.364 12.721C19.5124 12.5728 19.6989 12.4969 19.9235 12.4934C20.148 12.49 20.3379 12.5659 20.4933 12.721C20.6484 12.8764 20.726 13.0646 20.726 13.2857C20.726 13.5068 20.6484 13.695 20.4933 13.8503L15.678 18.6656C15.5776 18.7658 15.4718 18.8365 15.3606 18.8777C15.2493 18.919 15.1292 18.9396 15.0001 18.9396Z"
                                            fill="white" />
                                    </svg>
                                </span>
                            </button>
                        </div>
                        <div id="faq-answer-3" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                <p>Мы предоставляем гарантию на выполненные работы:<br>
                                    — 6 месяцев на код для стандартных проектов<br>
                                    — 12 месяцев на крупные и сложные проекты</p>
                                <p>В рамках гарантии мы бесплатно устраняем выявленные после публикации приложения в App
                                    Store и Google Play ошибки, сбои в работе и технические баги, возникшие по нашей
                                    вине.</p>
                                <p>По истечении гарантийного срока возможно заключение договора на дальнейшую
                                    техническую поддержку и сопровождение проекта.</p>
                            </div>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                data-bs-target="#faq-answer-4" aria-expanded="false">
                                <span class="btn-text">Команда разработки находятся в офисе или&nbsp;фрилансеры?</span>
                                <span class="accordion-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                                        fill="none">
                                        <circle cx="15" cy="15" r="14.5714" stroke="#FFE4BB" stroke-width="0.857143" />
                                        <path
                                            d="M15.0001 18.9396C14.8709 18.9396 14.7508 18.919 14.6395 18.8777C14.5283 18.8365 14.4225 18.7658 14.3221 18.6656L9.50684 13.8503C9.35863 13.7019 9.28273 13.5154 9.27916 13.2908C9.27577 13.0663 9.35166 12.8764 9.50684 12.721C9.6622 12.5659 9.85041 12.4883 10.0715 12.4883C10.2926 12.4883 10.4808 12.5659 10.6361 12.721L15.0001 17.0852L19.364 12.721C19.5124 12.5728 19.6989 12.4969 19.9235 12.4934C20.148 12.49 20.3379 12.5659 20.4933 12.721C20.6484 12.8764 20.726 13.0646 20.726 13.2857C20.726 13.5068 20.6484 13.695 20.4933 13.8503L15.678 18.6656C15.5776 18.7658 15.4718 18.8365 15.3606 18.8777C15.2493 18.919 15.1292 18.9396 15.0001 18.9396Z"
                                            fill="white" />
                                    </svg>
                                </span>
                            </button>
                        </div>
                        <div id="faq-answer-4" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                <p>Вся команда разработки работает в нашем офисе, что позволяет нам эффективно
                                    выстраивать процессы, быстро реагировать на задачи и обеспечивать высокое качество
                                    реализации проектов.<br>
                                    По вашему желанию мы можем провести видео-экскурсию по офису или пригласить вас на
                                    личную встречу для знакомства</p>
                            </div>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                data-bs-target="#faq-answer-5" aria-expanded="false">
                                <span class="btn-text">Помогаете ли вы с составлением технического задания?</span>
                                <span class="accordion-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                                        fill="none">
                                        <circle cx="15" cy="15" r="14.5714" stroke="#FFE4BB" stroke-width="0.857143" />
                                        <path
                                            d="M15.0001 18.9396C14.8709 18.9396 14.7508 18.919 14.6395 18.8777C14.5283 18.8365 14.4225 18.7658 14.3221 18.6656L9.50684 13.8503C9.35863 13.7019 9.28273 13.5154 9.27916 13.2908C9.27577 13.0663 9.35166 12.8764 9.50684 12.721C9.6622 12.5659 9.85041 12.4883 10.0715 12.4883C10.2926 12.4883 10.4808 12.5659 10.6361 12.721L15.0001 17.0852L19.364 12.721C19.5124 12.5728 19.6989 12.4969 19.9235 12.4934C20.148 12.49 20.3379 12.5659 20.4933 12.721C20.6484 12.8764 20.726 13.0646 20.726 13.2857C20.726 13.5068 20.6484 13.695 20.4933 13.8503L15.678 18.6656C15.5776 18.7658 15.4718 18.8365 15.3606 18.8777C15.2493 18.919 15.1292 18.9396 15.0001 18.9396Z"
                                            fill="white" />
                                    </svg>
                                </span>
                            </button>
                        </div>
                        <div id="faq-answer-5" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                <p>Да — составление грамотного и понятного технического задания является одной из
                                    ключевых компетенций нашей команды.<br>
                                    Если у вас нет готового ТЗ, мы проводим детальный анализ задач и требований:
                                    обсуждаем бизнес-цели, приоритеты, сценарии пользователей, нефункциональные
                                    требования и ограничения.</p>
                            </div>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                data-bs-target="#faq-answer-6" aria-expanded="false">
                                <span class="btn-text">Делаете ли вы аудит существующих приложений?</span>
                                <span class="accordion-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                                        fill="none">
                                        <circle cx="15" cy="15" r="14.5714" stroke="#FFE4BB" stroke-width="0.857143" />
                                        <path
                                            d="M15.0001 18.9396C14.8709 18.9396 14.7508 18.919 14.6395 18.8777C14.5283 18.8365 14.4225 18.7658 14.3221 18.6656L9.50684 13.8503C9.35863 13.7019 9.28273 13.5154 9.27916 13.2908C9.27577 13.0663 9.35166 12.8764 9.50684 12.721C9.6622 12.5659 9.85041 12.4883 10.0715 12.4883C10.2926 12.4883 10.4808 12.5659 10.6361 12.721L15.0001 17.0852L19.364 12.721C19.5124 12.5728 19.6989 12.4969 19.9235 12.4934C20.148 12.49 20.3379 12.5659 20.4933 12.721C20.6484 12.8764 20.726 13.0646 20.726 13.2857C20.726 13.5068 20.6484 13.695 20.4933 13.8503L15.678 18.6656C15.5776 18.7658 15.4718 18.8365 15.3606 18.8777C15.2493 18.919 15.1292 18.9396 15.0001 18.9396Z"
                                            fill="white" />
                                    </svg>
                                </span>
                            </button>
                        </div>
                        <div id="faq-answer-6" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                <p>Да. Мы проводим всесторонний аудит существующих приложений, который может включать:
                                </p>
                                <ul>
                                    <li>ревью кода и архитектуры;</li>
                                    <li>проверку производительности и стабильности;</li>
                                    <li>анализ безопасности и уязвимостей;</li>
                                    <li>оценку пользовательского опыта (UX) и интерфейсов;</li>
                                    <li>проверку процессов CI/CD, логирования и мониторинга.</li>
                                </ul>
                                <p>Обращаем внимание, что аудит выполняется в рамках сотрудничества — после подписания
                                    договора на оказание услуг. Нам важно работать с заказчиками, которые действительно
                                    заинтересованы в доработке и развитии продукта</p>
                            </div>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                data-bs-target="#faq-answer-7" aria-expanded="false">
                                <span class="btn-text">Берётесь ли вы за небольшие проекты, например, MVP?</span>
                                <span class="accordion-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                                        fill="none">
                                        <circle cx="15" cy="15" r="14.5714" stroke="#FFE4BB" stroke-width="0.857143" />
                                        <path
                                            d="M15.0001 18.9396C14.8709 18.9396 14.7508 18.919 14.6395 18.8777C14.5283 18.8365 14.4225 18.7658 14.3221 18.6656L9.50684 13.8503C9.35863 13.7019 9.28273 13.5154 9.27916 13.2908C9.27577 13.0663 9.35166 12.8764 9.50684 12.721C9.6622 12.5659 9.85041 12.4883 10.0715 12.4883C10.2926 12.4883 10.4808 12.5659 10.6361 12.721L15.0001 17.0852L19.364 12.721C19.5124 12.5728 19.6989 12.4969 19.9235 12.4934C20.148 12.49 20.3379 12.5659 20.4933 12.721C20.6484 12.8764 20.726 13.0646 20.726 13.2857C20.726 13.5068 20.6484 13.695 20.4933 13.8503L15.678 18.6656C15.5776 18.7658 15.4718 18.8365 15.3606 18.8777C15.2493 18.919 15.1292 18.9396 15.0001 18.9396Z"
                                            fill="white" />
                                    </svg>
                                </span>
                            </button>
                        </div>
                        <div id="faq-answer-7" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                <p>Да, мы с удовольствием беремся за разработку MVP (минимально жизнеспособного
                                    продукта). Это эффективный способ быстро протестировать идею, собрать обратную связь
                                    от пользователей и определить дальнейшее направление развития продукта.</p>
                                <p>Мы работаем с проектами любого масштаба и подбираем гибкие условия сотрудничества в
                                    зависимости от задач, сроков и бюджета.</p>
                            </div>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                data-bs-target="#faq-answer-8" aria-expanded="false">
                                <span class="btn-text">Что нужно от меня, чтобы мы начали работу?</span>
                                <span class="accordion-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                                        fill="none">
                                        <circle cx="15" cy="15" r="14.5714" stroke="#FFE4BB" stroke-width="0.857143" />
                                        <path
                                            d="M15.0001 18.9396C14.8709 18.9396 14.7508 18.919 14.6395 18.8777C14.5283 18.8365 14.4225 18.7658 14.3221 18.6656L9.50684 13.8503C9.35863 13.7019 9.28273 13.5154 9.27916 13.2908C9.27577 13.0663 9.35166 12.8764 9.50684 12.721C9.6622 12.5659 9.85041 12.4883 10.0715 12.4883C10.2926 12.4883 10.4808 12.5659 10.6361 12.721L15.0001 17.0852L19.364 12.721C19.5124 12.5728 19.6989 12.4969 19.9235 12.4934C20.148 12.49 20.3379 12.5659 20.4933 12.721C20.6484 12.8764 20.726 13.0646 20.726 13.2857C20.726 13.5068 20.6484 13.695 20.4933 13.8503L15.678 18.6656C15.5776 18.7658 15.4718 18.8365 15.3606 18.8777C15.2493 18.919 15.1292 18.9396 15.0001 18.9396Z"
                                            fill="white" />
                                    </svg>
                                </span>
                            </button>
                        </div>
                        <div id="faq-answer-8" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                <p>Процесс старта работы выглядит так:</p>
                                <ol>
                                    <li>Вы заполняете форму и делитесь базовой информацией о проекте.</li>
                                    <li>Мы проводим несколько созвонов, чтобы познакомиться, уточнить детали и
                                        погрузиться в задачу.</li>
                                    <li>По итогам обсуждений мы готовим подробную оценку проекта, в которую входят:
                                        смета и разбивка по этапам создания приложения, календарный план работ.</li>
                                    <li>Презентуем вам план, отвечаем на все вопросы и обсуждаем детали.</li>
                                    <li>После согласования условий остаётся подписать договор, и мы приступаем к
                                        реализации проекта.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-24 col-span-lg-10">
                <!-- card -->
                <div class="section-faq__card">
                    <div class="card-text text-center">
                        Остались вопросы?<br>
                        Напишите нам <a href="mailto:info@mail.ru">Info@mail.ru</a><br>
                        Позвоните нам <a href="tel:88007001212">8 800 700 1212</a>
                    </div>
                    <div class="media-wrapper">
                        <img class="img-fluid" src="img/home/faq-02.png" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>