<section class="section section-about" id="homeAboutUs">
    <div class="container">

        <!-- header -->
        <div class="section-about__header">
            <div class="row">
                <div class="col-lg-18">
                    <div class="text-center text-lg-start">
                        <h2 class="section__title">Почему компании выбирают нас</h2>
                        <div class="section__subtitle max-w-1190">Мы&nbsp;помогаем бизнесу быстрее выводить продукты
                            на&nbsp;рынок: разрабатываем мобильные приложения под&nbsp;iOS и&nbsp;Android на&nbsp;единой
                            платформе, снижаем затраты на&nbsp;разработку и&nbsp;берём на&nbsp;себя долгосрочную
                            поддержку.</div>
                    </div>
                </div>
                <div class="col-lg text-end">
                    <span class="fs-20 fw-light hide-on-mobile">#новый уровень</span>
                </div>
            </div>
        </div>

        <!-- grid -->
        <div class="d-grid grid-cols-1 grid-cols-md-2 grid-cols-xxl-4 row-gap-15 gap-md-30">
            <!-- item -->
            <div class="card card-about wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
                <div class="card-body">
                    <div class="card-title">Кросс-платформа</div>
                    <div class="card-description">Экономия времени и&nbsp;бюджета: один код&nbsp;— два&nbsp;приложения,
                        одновременно для&nbsp;iOS и&nbsp;Android.</div>
                </div>
            </div>
            <!-- item -->
            <div class="card card-about wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                <div class="card-body">
                    <div class="card-title">Создание + Поддержка</div>
                    <div class="card-description">Полный цикл: от&nbsp;проработки идеи до&nbsp;публикации в&nbsp;Store
                        и&nbsp;дальнейших обновлений под&nbsp;задачи бизнеса.</div>
                </div>
            </div>
            <!-- item -->
            <div class="card card-about wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="card-body">
                    <div class="card-title">Опытная команда</div>
                    <div class="card-description">Опыт в&nbsp;запуске сложных мобильных решений, выстроенные процессы
                        и&nbsp;понятная коммуникация на&nbsp;каждом этапе проекта.</div>
                </div>
            </div>
            <!-- item -->
            <div class="card card-about-last wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                <img class="bg-absolute-img" src="img/home/card-why-us-01.png" alt="">
                <div class="card-body">
                    <div class="card-title">iOS<br>и&nbsp;Android</div>
                </div>
            </div>
        </div>

    </div>
</section>