<section class="section section-contacts" id="homeContacts">
    <div class="container">

        <!-- header -->
        <div class="section-contacts__header">
            <h2 class="section__title">Контакты</h2>
        </div>

        <!-- grid -->
        <div class="d-grid grid-cols-24 row-gap-20 gap-lg-40">
            <div class="col-span-24 col-span-lg-14">
                <div class="d-flex flex-column gap-20 gap-md-40">
                    <div class="section-contacts__widget">
                        <div class="widget-title">Время работы</div>
                        <div>8:30 - 17:30 мск</div>
                    </div>
                    <div class="section-contacts__widget">
                        <div class="widget-title">Офис</div>
                        <div>г. Йошкар-Ола, ул. Прохорова,<br>
                            д. 37 Б, офис 309</div>
                    </div>
                </div>
            </div>
            <div class="col-span-24 col-span-lg-10">
                <div class="d-flex flex-column gap-20 gap-md-40">
                    <div class="section-contacts__widget">
                        <div class="d-flex flex-column gap-15 gap-md-20">
                            <div>
                                <a href="tel:88007001212">8 800 700 1212</a>
                            </div>
                            <div>
                                <a href="mailto:info@most.team">info@most.team</a>
                            </div>
                        </div>
                    </div>
                    <div class="section-contacts__widget d-flex flex-wrap align-items-center gap-20 gap-lg-30 mt-lg-20">
                        <!-- telegram -->
                        <a href="#" class="link-social" target="_blank">
                            <img src="img/icons/social-tg.png" alt="Telegram">
                        </a>
                        <!-- whatsapp -->
                        <a href="#" class="link-social" target="_blank">
                            <img src="img/icons/social-wa.png" alt="WhatsApp">
                        </a>
                        <!-- max -->
                        <a href="#" class="link-social" target="_blank">
                            <img src="img/icons/social-max.png" alt="Max">
                        </a>
                        <!-- pinterest -->
                        <a href="#" class="link-social" target="_blank">
                            <img src="img/icons/social-pinterest.png" alt="Pinterest">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>