<section class="section section-project-goal-1">
    <div class="container">
        <div class="row gy-4 align-items-center">

            <div class="col-lg-16">
                <!-- image -->
                <img class="img-fluid w-100 rounded-3" src="img/project/project-goal-01.jpg" alt="">
            </div>

            <div class="col-lg-8 order-lg-first">
                <!-- header -->
                <div class="section-project-goal-1__header">
                    <h2 class="section__title">Цель проекта</h2>
                    <div class="section__subtitle">Создать комплексное решение для&nbsp;автоматизации процесса распределения потока пациентов и&nbsp;повышения сервиса медицинского центра.</div>
                </div>
            </div>

        </div>
    </div>
</section>