<section class="section section-project-more-about-1 @@if(bgGradient){bg-gradient-dark}">
    <div class="container">

        <div class="row gy-4 align-items-center">

            <div class="col-lg-14">
                <!-- image -->
                <img class="img-fluid w-100" src="@@sectionImg" alt="">
            </div>

            <div class="col-lg-10 @@if(textOnLeft){order-lg-first}">
                <!-- header -->
                <div class="section-project-more-about-1__header">
                    <div class="h3">@@title</div>
                    <div class="section__subtitle">@@subtitle</div>
                </div>
            </div>

        </div>

    </div>
</section>