<section class="section section-price" id="homePrice">
    <div class="container">

        <!-- header -->
        <div class="section-price__header text-center">
            <h2 class="section__title">Тарифы под масштаб вашего проекта</h2>
            <div class="section__subtitle">Выберите формат сотрудничества в зависимости от задач вашего бизнеса — от
                запуска MVP до разработки сложной цифровой экосистемы. Все тарифы включают базовые технологии и
                поддержку команды</div>
        </div>

        <!-- grid -->
        <div class="d-grid grid-cols-1 grid-cols-md-2 grid-cols-xl-3 row-gap-20 gap-md-20">
            <!-- item -->
            <div class="card card-tariff wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
                <div class="card-body">
                    <div class="flex-fill">
                        <div class="card-title">
                            <span>START</span>
                        </div>
                        <div class="card-description">Для&nbsp;MVP и&nbsp;быстрого выхода на&nbsp;рынок</div>
                        <div class="card-price">
                            <div class="card-price__main">От 2 млн. ₽</div>
                            <div class="card-price__old">От 2,2 млн. ₽</div>
                        </div>
                        <div class="card-features">
                            <ul>
                                <li>От 3 месяцев</li>
                                <li>Приложение от 20 экранов</li>
                                <li>Команда от 6 специалистов</li>
                                <li>Внешние интеграции</li>
                                <li>Персональный менеджер</li>
                                <li>Сервер и API</li>
                                <li>Админ-панель</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-btn-wrapper">
                        <a href="#modalConsultation" data-bs-toggle="modal" class="btn btn-primary btn-l w-100">Обсудить
                            проект</a>
                    </div>
                </div>
            </div>
            <!-- item -->
            <div class="card card-tariff highlight wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                <div class="card-body">
                    <div class="flex-fill">
                        <div class="card-title">
                            <span>ОПТИМАЛЬНЫЙ</span>
                        </div>
                        <div class="card-description">Для&nbsp;растущего бизнеса и&nbsp;автоматизации</div>
                        <div class="card-price">
                            <div class="card-price__main">От 3 млн. ₽</div>
                            <div class="card-price__old">От 3,2 млн. ₽</div>
                        </div>
                        <div class="card-features">
                            <ul>
                                <li>От 4 месяцев</li>
                                <li>Приложение от 40 экранов</li>
                                <li>Команда от 8 специалистов</li>
                                <li>От 2 внешних интеграций</li>
                                <li>Персональный менеджер</li>
                                <li>Сервер и API</li>
                                <li>Админ-панель</li>
                                <li>IoT и оборудование</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-btn-wrapper">
                        <a href="#modalConsultation" data-bs-toggle="modal" class="btn btn-primary btn-l w-100">Обсудить
                            проект</a>
                    </div>
                </div>
            </div>
            <!-- item -->
            <div class="card card-tariff wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="card-body">
                    <div class="flex-fill">
                        <div class="card-title">
                            <span>ENTERPRISE</span>
                        </div>
                        <div class="card-description">Для&nbsp;крупных и&nbsp;высоконагруженных проектов</div>
                        <div class="card-price">
                            <div class="card-price__main">От 2 млн. ₽</div>
                            <div class="card-price__old">От 2,2 млн. ₽</div>
                        </div>
                        <div class="card-features">
                            <ul>
                                <li>От 6 месяцев</li>
                                <li>Приложение от 50 экранов</li>
                                <li>Команда от 10+ специалистов</li>
                                <li>От 3 внешних интеграций</li>
                                <li>Персональный менеджер</li>
                                <li>Сервер и API</li>
                                <li>Админ-панель</li>
                                <li>IoT и оборудование</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-btn-wrapper">
                        <a href="#modalConsultation" data-bs-toggle="modal" class="btn btn-primary btn-l w-100">Обсудить
                            проект</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>