<section class="section section-cta-form" id="homeCtaForm">
    <div class="container">

        <div class="cta-form-wrapper">
            <img class="bg-absolute-img" src="img/home/cta-form-bg-01.svg" alt="">
            <div class="position-relative">
                <div class="d-grid grid-cols-24 row-gap-30 gap-md-20">
                    <div class="col-span-24 col-span-lg-10">
                        <h2 class="section__title section-cta-form__title">Готовы создать мобильное приложение?</h2>
                        <div class="section-cta-form__subtitle">Полный цикл: от&nbsp;идеи и&nbsp;проектирования
                            до&nbsp;публикации в&nbsp;App Store, Google Play, RuStore и AppGallery&nbsp;— и&nbsp;дальше
                            помогаем с&nbsp;развитием, обновлениями и&nbsp;поддержкой</div>
                    </div>
                    <div class="col-span-24 col-span-lg-14">
                        <!-- form -->
                        <form action="#">
                            <div class="d-grid grid-cols-2 gap-15 gap-md-20">
                                <div class="col-span-2 col-span-md-1">
                                    <input type="text" class="form-control input-l" placeholder="Имя">
                                </div>
                                <div class="col-span-2 col-span-md-1">
                                    <input type="text" class="form-control input-l" placeholder="Название компании">
                                </div>
                                <div class="col-span-2 col-span-md-1">
                                    <input type="text" class="form-control input-l maskPhone" placeholder="+7">
                                </div>
                                <div class="col-span-2 col-span-md-1">
                                    <input type="email" class="form-control input-l" placeholder="Почта">
                                </div>
                                <div class="col-span-2">
                                    <textarea class="form-control input-l" rows="3"
                                        placeholder="Кратко о проекте"></textarea>
                                </div>
                                <div class="col-span-2 mt-10 mt-lg-15">
                                    <a href="#modalSuccess" data-bs-toggle="modal"
                                        class="btn btn-gold-gradient btn-l w-100">Обсудить проект</a>
                                </div>
                                <div class="col-span-2 mt-10 mt-lg-15">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="ctaCheck1">
                                        <label class="form-check-label" for="ctaCheck1">Я даю своё согласие
                                            на&nbsp;обработку <a href="#">персональных данных</a> и&nbsp;соглашаюсь
                                            с&nbsp;<a href="#">политикой конфиденциальности</a></label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>