<section class="section section-projects-cards-about-2">
    <div class="container">

        <!-- header -->
        <div class="section-projects-cards-about-2__header">
            <h2 class="section__title">@@title</h2>
            @@if(subtitle){
            <div class="section__subtitle">@@subtitle</div>
            }
        </div>

        <!-- grid -->
        <div class="d-grid grid-cols-1 grid-cols-md-3 row-gap-15 gap-md-20">
            @@for(var i = 0; i < items.length; i++) {
            <!-- item -->
            <div class="bg-gradient-midnight rounded-3 p-20px p-lg-30px">
                <div class="h3 text-reset mb-2">` + items[i].title + `</div>
                <div class="fs-small fw-light">` + items[i].text + `</div>
            </div>
            }
        </div>

    </div>
</section>