<section class="section section-process" id="homeProcess">
    <div class="container">

        <!-- header -->
        <div class="section-process__header text-lg-center">
            <h2 class="section__title">Процесс работы</h2>
            <div class="section__subtitle">Общий срок проекта: 6.5 - 7.5 месяцев</div>
        </div>

        <!-- desktop grid -->
        <div data-device="desktop" class="section-process__grid">
            <div class="col-odd">
                <!-- item-1 -->
                <div class="card card-process">
                    <div class="card-body">
                        <div class="card-index-num">1</div>
                        <div class="card-icon">
                            <img class="img-fluid" src="img/home/card-step-01.png" alt="">
                        </div>
                        <div class="card-heading">
                            <div class="card-heading__status">первое касание</div>
                            <div class="card-heading__title">Бриф и рамки</div>
                            <div class="card-heading__subtitle">Экономия времени и бюджета: один код — для iOS и Android
                            </div>
                        </div>
                        <div class="card-description">
                            <div class="collapse" id="collapseProcessDescription-1">
                                <div class="card-description__divider"></div>
                                <div class="card-description__content">
                                    <h4>Цель:</h4>
                                    <p>превратить идею в чёткую архитектуру и бэклог</p>
                                    <h4>Задачи:</h4>
                                    <p>Юзкейсы, CJM, приоритизация требований (MoSCoW).<br>Системное проектирование:
                                        выбор стека (Flutter/React Native), навигация, состояния (BLoC/Provider для
                                        Flutter; Redux/Zustand/Recoil для RN), офлайн-режим, синхронизация.</p>
                                    <h4>Интеграции:</h4>
                                    <p>API-контракты (OpenAPI), push, аналитика (Firebase/Amplitude), платежи.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-btn-wrapper">
                            <button type="button" class="btn card-btn-more collapsed" data-bs-toggle="collapse"
                                data-bs-target="#collapseProcessDescription-1" aria-expanded="false">
                                <span class="title-show-more align-middle">Подробнее</span>
                                <span class="title-show-less align-middle">Свернуть</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"
                                    fill="none">
                                    <path
                                        d="M14 17.4708C13.8445 17.4708 13.6986 17.4465 13.5625 17.3979C13.4264 17.3492 13.3 17.2666 13.1833 17.1499L7.81668 11.7833C7.60279 11.5694 7.49585 11.2972 7.49585 10.9666C7.49585 10.636 7.60279 10.3638 7.81668 10.1499C8.03057 9.93605 8.30279 9.8291 8.63335 9.8291C8.96391 9.8291 9.23613 9.93605 9.45002 10.1499L14 14.6999L18.55 10.1499C18.7639 9.93605 19.0361 9.8291 19.3667 9.8291C19.6972 9.8291 19.9695 9.93605 20.1833 10.1499C20.3972 10.3638 20.5042 10.636 20.5042 10.9666C20.5042 11.2972 20.3972 11.5694 20.1833 11.7833L14.8167 17.1499C14.7 17.2666 14.5736 17.3492 14.4375 17.3979C14.3014 17.4465 14.1556 17.4708 14 17.4708Z" />
                                </svg>
                            </button>
                        </div>
                        <div class="card-divider"></div>
                    </div>
                </div>
                <!-- item-3 -->
                <div class="card card-process">
                    <div class="card-body">
                        <div class="card-index-num">3</div>
                        <div class="card-icon">
                            <img class="img-fluid" src="img/home/card-step-03.png" alt="">
                        </div>
                        <div class="card-heading">
                            <div class="card-heading__status">первое касание</div>
                            <div class="card-heading__title">Дизайн и прототипирование</div>
                            <div class="card-heading__subtitle">Экономия времени и бюджета: один код — для iOS и Android
                            </div>
                        </div>
                        <div class="card-description">
                            <div class="collapse" id="collapseProcessDescription-3">
                                <div class="card-description__divider"></div>
                                <div class="card-description__content">
                                    <h4>Цель:</h4>
                                    <p>превратить идею в чёткую архитектуру и бэклог</p>
                                    <h4>Задачи:</h4>
                                    <p>Юзкейсы, CJM, приоритизация требований (MoSCoW).<br>Системное проектирование:
                                        выбор стека (Flutter/React Native), навигация, состояния (BLoC/Provider для
                                        Flutter; Redux/Zustand/Recoil для RN), офлайн-режим, синхронизация.</p>
                                    <h4>Интеграции:</h4>
                                    <p>API-контракты (OpenAPI), push, аналитика (Firebase/Amplitude), платежи.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-btn-wrapper">
                            <button type="button" class="btn card-btn-more collapsed" data-bs-toggle="collapse"
                                data-bs-target="#collapseProcessDescription-3" aria-expanded="false">
                                <span class="title-show-more align-middle">Подробнее</span>
                                <span class="title-show-less align-middle">Свернуть</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"
                                    fill="none">
                                    <path
                                        d="M14 17.4708C13.8445 17.4708 13.6986 17.4465 13.5625 17.3979C13.4264 17.3492 13.3 17.2666 13.1833 17.1499L7.81668 11.7833C7.60279 11.5694 7.49585 11.2972 7.49585 10.9666C7.49585 10.636 7.60279 10.3638 7.81668 10.1499C8.03057 9.93605 8.30279 9.8291 8.63335 9.8291C8.96391 9.8291 9.23613 9.93605 9.45002 10.1499L14 14.6999L18.55 10.1499C18.7639 9.93605 19.0361 9.8291 19.3667 9.8291C19.6972 9.8291 19.9695 9.93605 20.1833 10.1499C20.3972 10.3638 20.5042 10.636 20.5042 10.9666C20.5042 11.2972 20.3972 11.5694 20.1833 11.7833L14.8167 17.1499C14.7 17.2666 14.5736 17.3492 14.4375 17.3979C14.3014 17.4465 14.1556 17.4708 14 17.4708Z" />
                                </svg>
                            </button>
                        </div>
                        <div class="card-divider"></div>
                    </div>
                </div>
                <!-- item-5 -->
                <div class="card card-process">
                    <div class="card-body">
                        <div class="card-index-num">5</div>
                        <div class="card-icon">
                            <img class="img-fluid" src="img/home/card-step-05.png" alt="">
                        </div>
                        <div class="card-heading">
                            <div class="card-heading__status">первое касание</div>
                            <div class="card-heading__title">Тестирование</div>
                            <div class="card-heading__subtitle">Экономия времени и бюджета: один код — для iOS и Android
                            </div>
                        </div>
                        <div class="card-description">
                            <div class="collapse" id="collapseProcessDescription-5">
                                <div class="card-description__divider"></div>
                                <div class="card-description__content">
                                    <h4>Цель:</h4>
                                    <p>превратить идею в чёткую архитектуру и бэклог</p>
                                    <h4>Задачи:</h4>
                                    <p>Юзкейсы, CJM, приоритизация требований (MoSCoW).<br>Системное проектирование:
                                        выбор стека (Flutter/React Native), навигация, состояния (BLoC/Provider для
                                        Flutter; Redux/Zustand/Recoil для RN), офлайн-режим, синхронизация.</p>
                                    <h4>Интеграции:</h4>
                                    <p>API-контракты (OpenAPI), push, аналитика (Firebase/Amplitude), платежи.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-btn-wrapper">
                            <button type="button" class="btn card-btn-more collapsed" data-bs-toggle="collapse"
                                data-bs-target="#collapseProcessDescription-5" aria-expanded="false">
                                <span class="title-show-more align-middle">Подробнее</span>
                                <span class="title-show-less align-middle">Свернуть</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"
                                    fill="none">
                                    <path
                                        d="M14 17.4708C13.8445 17.4708 13.6986 17.4465 13.5625 17.3979C13.4264 17.3492 13.3 17.2666 13.1833 17.1499L7.81668 11.7833C7.60279 11.5694 7.49585 11.2972 7.49585 10.9666C7.49585 10.636 7.60279 10.3638 7.81668 10.1499C8.03057 9.93605 8.30279 9.8291 8.63335 9.8291C8.96391 9.8291 9.23613 9.93605 9.45002 10.1499L14 14.6999L18.55 10.1499C18.7639 9.93605 19.0361 9.8291 19.3667 9.8291C19.6972 9.8291 19.9695 9.93605 20.1833 10.1499C20.3972 10.3638 20.5042 10.636 20.5042 10.9666C20.5042 11.2972 20.3972 11.5694 20.1833 11.7833L14.8167 17.1499C14.7 17.2666 14.5736 17.3492 14.4375 17.3979C14.3014 17.4465 14.1556 17.4708 14 17.4708Z" />
                                </svg>
                            </button>
                        </div>
                        <div class="card-divider"></div>
                    </div>
                </div>
                <!-- item-7 -->
                <div class="card card-process">
                    <div class="card-body">
                        <div class="card-index-num">7</div>
                        <div class="card-icon">
                            <img class="img-fluid" src="img/home/card-step-07.png" alt="">
                        </div>
                        <div class="card-heading">
                            <div class="card-heading__status">первое касание</div>
                            <div class="card-heading__title">Поддержка и развитие</div>
                            <div class="card-heading__subtitle">Экономия времени и бюджета: один код — для iOS и Android
                            </div>
                        </div>
                        <div class="card-description">
                            <div class="collapse" id="collapseProcessDescription-7">
                                <div class="card-description__divider"></div>
                                <div class="card-description__content">
                                    <h4>Цель:</h4>
                                    <p>превратить идею в чёткую архитектуру и бэклог</p>
                                    <h4>Задачи:</h4>
                                    <p>Юзкейсы, CJM, приоритизация требований (MoSCoW).<br>Системное проектирование:
                                        выбор стека (Flutter/React Native), навигация, состояния (BLoC/Provider для
                                        Flutter; Redux/Zustand/Recoil для RN), офлайн-режим, синхронизация.</p>
                                    <h4>Интеграции:</h4>
                                    <p>API-контракты (OpenAPI), push, аналитика (Firebase/Amplitude), платежи.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-btn-wrapper">
                            <button type="button" class="btn card-btn-more collapsed" data-bs-toggle="collapse"
                                data-bs-target="#collapseProcessDescription-7" aria-expanded="false">
                                <span class="title-show-more align-middle">Подробнее</span>
                                <span class="title-show-less align-middle">Свернуть</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"
                                    fill="none">
                                    <path
                                        d="M14 17.4708C13.8445 17.4708 13.6986 17.4465 13.5625 17.3979C13.4264 17.3492 13.3 17.2666 13.1833 17.1499L7.81668 11.7833C7.60279 11.5694 7.49585 11.2972 7.49585 10.9666C7.49585 10.636 7.60279 10.3638 7.81668 10.1499C8.03057 9.93605 8.30279 9.8291 8.63335 9.8291C8.96391 9.8291 9.23613 9.93605 9.45002 10.1499L14 14.6999L18.55 10.1499C18.7639 9.93605 19.0361 9.8291 19.3667 9.8291C19.6972 9.8291 19.9695 9.93605 20.1833 10.1499C20.3972 10.3638 20.5042 10.636 20.5042 10.9666C20.5042 11.2972 20.3972 11.5694 20.1833 11.7833L14.8167 17.1499C14.7 17.2666 14.5736 17.3492 14.4375 17.3979C14.3014 17.4465 14.1556 17.4708 14 17.4708Z" />
                                </svg>
                            </button>
                        </div>
                        <div class="card-divider"></div>
                    </div>
                </div>
            </div>
            <div class="col-even">
                <!-- item-2 -->
                <div class="card card-process">
                    <div class="card-body">
                        <div class="card-index-num">2</div>
                        <div class="card-icon">
                            <img class="img-fluid" src="img/home/card-step-02.png" alt="">
                        </div>
                        <div class="card-heading">
                            <div class="card-heading__status">первое касание</div>
                            <div class="card-heading__title">Анализ и проектирование</div>
                            <div class="card-heading__subtitle">Экономия времени и бюджета: один код — для iOS и Android
                            </div>
                        </div>
                        <div class="card-description">
                            <div class="collapse" id="collapseProcessDescription-2">
                                <div class="card-description__divider"></div>
                                <div class="card-description__content">
                                    <h4>Цель:</h4>
                                    <p>превратить идею в чёткую архитектуру и бэклог</p>
                                    <h4>Задачи:</h4>
                                    <p>Юзкейсы, CJM, приоритизация требований (MoSCoW).<br>Системное проектирование:
                                        выбор стека (Flutter/React Native), навигация, состояния (BLoC/Provider для
                                        Flutter; Redux/Zustand/Recoil для RN), офлайн-режим, синхронизация.</p>
                                    <h4>Интеграции:</h4>
                                    <p>API-контракты (OpenAPI), push, аналитика (Firebase/Amplitude), платежи.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-btn-wrapper">
                            <button type="button" class="btn card-btn-more collapsed" data-bs-toggle="collapse"
                                data-bs-target="#collapseProcessDescription-2" aria-expanded="false">
                                <span class="title-show-more align-middle">Подробнее</span>
                                <span class="title-show-less align-middle">Свернуть</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"
                                    fill="none">
                                    <path
                                        d="M14 17.4708C13.8445 17.4708 13.6986 17.4465 13.5625 17.3979C13.4264 17.3492 13.3 17.2666 13.1833 17.1499L7.81668 11.7833C7.60279 11.5694 7.49585 11.2972 7.49585 10.9666C7.49585 10.636 7.60279 10.3638 7.81668 10.1499C8.03057 9.93605 8.30279 9.8291 8.63335 9.8291C8.96391 9.8291 9.23613 9.93605 9.45002 10.1499L14 14.6999L18.55 10.1499C18.7639 9.93605 19.0361 9.8291 19.3667 9.8291C19.6972 9.8291 19.9695 9.93605 20.1833 10.1499C20.3972 10.3638 20.5042 10.636 20.5042 10.9666C20.5042 11.2972 20.3972 11.5694 20.1833 11.7833L14.8167 17.1499C14.7 17.2666 14.5736 17.3492 14.4375 17.3979C14.3014 17.4465 14.1556 17.4708 14 17.4708Z" />
                                </svg>
                            </button>
                        </div>
                        <div class="card-divider"></div>
                    </div>
                </div>
                <!-- item-4 -->
                <div class="card card-process">
                    <div class="card-body">
                        <div class="card-index-num">4</div>
                        <div class="card-icon">
                            <img class="img-fluid" src="img/home/card-step-04.png" alt="">
                        </div>
                        <div class="card-heading">
                            <div class="card-heading__status">первое касание</div>
                            <div class="card-heading__title">Разработка (спринты)</div>
                            <div class="card-heading__subtitle">Экономия времени и бюджета: один код — для iOS и Android
                            </div>
                        </div>
                        <div class="card-description">
                            <div class="collapse" id="collapseProcessDescription-4">
                                <div class="card-description__divider"></div>
                                <div class="card-description__content">
                                    <h4>Цель:</h4>
                                    <p>превратить идею в чёткую архитектуру и бэклог</p>
                                    <h4>Задачи:</h4>
                                    <p>Юзкейсы, CJM, приоритизация требований (MoSCoW).<br>Системное проектирование:
                                        выбор стека (Flutter/React Native), навигация, состояния (BLoC/Provider для
                                        Flutter; Redux/Zustand/Recoil для RN), офлайн-режим, синхронизация.</p>
                                    <h4>Интеграции:</h4>
                                    <p>API-контракты (OpenAPI), push, аналитика (Firebase/Amplitude), платежи.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-btn-wrapper">
                            <button type="button" class="btn card-btn-more collapsed" data-bs-toggle="collapse"
                                data-bs-target="#collapseProcessDescription-4" aria-expanded="false">
                                <span class="title-show-more align-middle">Подробнее</span>
                                <span class="title-show-less align-middle">Свернуть</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"
                                    fill="none">
                                    <path
                                        d="M14 17.4708C13.8445 17.4708 13.6986 17.4465 13.5625 17.3979C13.4264 17.3492 13.3 17.2666 13.1833 17.1499L7.81668 11.7833C7.60279 11.5694 7.49585 11.2972 7.49585 10.9666C7.49585 10.636 7.60279 10.3638 7.81668 10.1499C8.03057 9.93605 8.30279 9.8291 8.63335 9.8291C8.96391 9.8291 9.23613 9.93605 9.45002 10.1499L14 14.6999L18.55 10.1499C18.7639 9.93605 19.0361 9.8291 19.3667 9.8291C19.6972 9.8291 19.9695 9.93605 20.1833 10.1499C20.3972 10.3638 20.5042 10.636 20.5042 10.9666C20.5042 11.2972 20.3972 11.5694 20.1833 11.7833L14.8167 17.1499C14.7 17.2666 14.5736 17.3492 14.4375 17.3979C14.3014 17.4465 14.1556 17.4708 14 17.4708Z" />
                                </svg>
                            </button>
                        </div>
                        <div class="card-divider"></div>
                    </div>
                </div>
                <!-- item-6 -->
                <div class="card card-process">
                    <div class="card-body">
                        <div class="card-index-num">6</div>
                        <div class="card-icon">
                            <img class="img-fluid" src="img/home/card-step-06.png" alt="">
                        </div>
                        <div class="card-heading">
                            <div class="card-heading__status">первое касание</div>
                            <div class="card-heading__title">Запуск (релиз)</div>
                            <div class="card-heading__subtitle">Экономия времени и бюджета: один код — для iOS и Android
                            </div>
                        </div>
                        <div class="card-description">
                            <div class="collapse" id="collapseProcessDescription-6">
                                <div class="card-description__divider"></div>
                                <div class="card-description__content">
                                    <h4>Цель:</h4>
                                    <p>превратить идею в чёткую архитектуру и бэклог</p>
                                    <h4>Задачи:</h4>
                                    <p>Юзкейсы, CJM, приоритизация требований (MoSCoW).<br>Системное проектирование:
                                        выбор стека (Flutter/React Native), навигация, состояния (BLoC/Provider для
                                        Flutter; Redux/Zustand/Recoil для RN), офлайн-режим, синхронизация.</p>
                                    <h4>Интеграции:</h4>
                                    <p>API-контракты (OpenAPI), push, аналитика (Firebase/Amplitude), платежи.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-btn-wrapper">
                            <button type="button" class="btn card-btn-more collapsed" data-bs-toggle="collapse"
                                data-bs-target="#collapseProcessDescription-6" aria-expanded="false">
                                <span class="title-show-more align-middle">Подробнее</span>
                                <span class="title-show-less align-middle">Свернуть</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"
                                    fill="none">
                                    <path
                                        d="M14 17.4708C13.8445 17.4708 13.6986 17.4465 13.5625 17.3979C13.4264 17.3492 13.3 17.2666 13.1833 17.1499L7.81668 11.7833C7.60279 11.5694 7.49585 11.2972 7.49585 10.9666C7.49585 10.636 7.60279 10.3638 7.81668 10.1499C8.03057 9.93605 8.30279 9.8291 8.63335 9.8291C8.96391 9.8291 9.23613 9.93605 9.45002 10.1499L14 14.6999L18.55 10.1499C18.7639 9.93605 19.0361 9.8291 19.3667 9.8291C19.6972 9.8291 19.9695 9.93605 20.1833 10.1499C20.3972 10.3638 20.5042 10.636 20.5042 10.9666C20.5042 11.2972 20.3972 11.5694 20.1833 11.7833L14.8167 17.1499C14.7 17.2666 14.5736 17.3492 14.4375 17.3979C14.3014 17.4465 14.1556 17.4708 14 17.4708Z" />
                                </svg>
                            </button>
                        </div>
                        <div class="card-divider"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- mobile grid -->
        <div data-device="mobile" class="section-process__grid">
            <!-- item-1 -->
            <div class="card card-process">
                <div class="card-body">
                    <div class="card-index-num">1</div>
                    <div class="card-icon">
                        <img class="img-fluid" src="img/home/card-step-01.png" alt="">
                    </div>
                    <div class="card-heading">
                        <div class="card-heading__status">первое касание</div>
                        <div class="card-heading__title">Бриф и рамки</div>
                        <div class="card-heading__subtitle">Экономия времени и бюджета: один код — для iOS и Android
                        </div>
                    </div>
                    <div class="card-description">
                        <div class="collapse" id="collapseProcessDescriptionMobile-1">
                            <div class="card-description__divider"></div>
                            <div class="card-description__content">
                                <h4>Цель:</h4>
                                <p>превратить идею в чёткую архитектуру и бэклог</p>
                                <h4>Задачи:</h4>
                                <p>Юзкейсы, CJM, приоритизация требований (MoSCoW).<br>Системное проектирование: выбор
                                    стека (Flutter/React Native), навигация, состояния (BLoC/Provider для Flutter;
                                    Redux/Zustand/Recoil для RN), офлайн-режим, синхронизация.</p>
                                <h4>Интеграции:</h4>
                                <p>API-контракты (OpenAPI), push, аналитика (Firebase/Amplitude), платежи.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-btn-wrapper">
                        <button type="button" class="btn card-btn-more collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseProcessDescriptionMobile-1" aria-expanded="false">
                            <span class="title-show-more align-middle">Подробнее</span>
                            <span class="title-show-less align-middle">Свернуть</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"
                                fill="none">
                                <path
                                    d="M14 17.4708C13.8445 17.4708 13.6986 17.4465 13.5625 17.3979C13.4264 17.3492 13.3 17.2666 13.1833 17.1499L7.81668 11.7833C7.60279 11.5694 7.49585 11.2972 7.49585 10.9666C7.49585 10.636 7.60279 10.3638 7.81668 10.1499C8.03057 9.93605 8.30279 9.8291 8.63335 9.8291C8.96391 9.8291 9.23613 9.93605 9.45002 10.1499L14 14.6999L18.55 10.1499C18.7639 9.93605 19.0361 9.8291 19.3667 9.8291C19.6972 9.8291 19.9695 9.93605 20.1833 10.1499C20.3972 10.3638 20.5042 10.636 20.5042 10.9666C20.5042 11.2972 20.3972 11.5694 20.1833 11.7833L14.8167 17.1499C14.7 17.2666 14.5736 17.3492 14.4375 17.3979C14.3014 17.4465 14.1556 17.4708 14 17.4708Z" />
                            </svg>
                        </button>
                    </div>
                    <div class="card-divider"></div>
                </div>
            </div>
            <!-- item-2 -->
            <div class="card card-process">
                <div class="card-body">
                    <div class="card-index-num">2</div>
                    <div class="card-icon">
                        <img class="img-fluid" src="img/home/card-step-02.png" alt="">
                    </div>
                    <div class="card-heading">
                        <div class="card-heading__status">первое касание</div>
                        <div class="card-heading__title">Анализ и проектирование</div>
                        <div class="card-heading__subtitle">Экономия времени и бюджета: один код — для iOS и Android
                        </div>
                    </div>
                    <div class="card-description">
                        <div class="collapse" id="collapseProcessDescriptionMobile-2">
                            <div class="card-description__divider"></div>
                            <div class="card-description__content">
                                <h4>Цель:</h4>
                                <p>превратить идею в чёткую архитектуру и бэклог</p>
                                <h4>Задачи:</h4>
                                <p>Юзкейсы, CJM, приоритизация требований (MoSCoW).<br>Системное проектирование: выбор
                                    стека (Flutter/React Native), навигация, состояния (BLoC/Provider для Flutter;
                                    Redux/Zustand/Recoil для RN), офлайн-режим, синхронизация.</p>
                                <h4>Интеграции:</h4>
                                <p>API-контракты (OpenAPI), push, аналитика (Firebase/Amplitude), платежи.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-btn-wrapper">
                        <button type="button" class="btn card-btn-more collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseProcessDescriptionMobile-2" aria-expanded="false">
                            <span class="title-show-more align-middle">Подробнее</span>
                            <span class="title-show-less align-middle">Свернуть</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"
                                fill="none">
                                <path
                                    d="M14 17.4708C13.8445 17.4708 13.6986 17.4465 13.5625 17.3979C13.4264 17.3492 13.3 17.2666 13.1833 17.1499L7.81668 11.7833C7.60279 11.5694 7.49585 11.2972 7.49585 10.9666C7.49585 10.636 7.60279 10.3638 7.81668 10.1499C8.03057 9.93605 8.30279 9.8291 8.63335 9.8291C8.96391 9.8291 9.23613 9.93605 9.45002 10.1499L14 14.6999L18.55 10.1499C18.7639 9.93605 19.0361 9.8291 19.3667 9.8291C19.6972 9.8291 19.9695 9.93605 20.1833 10.1499C20.3972 10.3638 20.5042 10.636 20.5042 10.9666C20.5042 11.2972 20.3972 11.5694 20.1833 11.7833L14.8167 17.1499C14.7 17.2666 14.5736 17.3492 14.4375 17.3979C14.3014 17.4465 14.1556 17.4708 14 17.4708Z" />
                            </svg>
                        </button>
                    </div>
                    <div class="card-divider"></div>
                </div>
            </div>
            <!-- item-3 -->
            <div class="card card-process">
                <div class="card-body">
                    <div class="card-index-num">3</div>
                    <div class="card-icon">
                        <img class="img-fluid" src="img/home/card-step-03.png" alt="">
                    </div>
                    <div class="card-heading">
                        <div class="card-heading__status">первое касание</div>
                        <div class="card-heading__title">Дизайн и прототипирование</div>
                        <div class="card-heading__subtitle">Экономия времени и бюджета: один код — для iOS и Android
                        </div>
                    </div>
                    <div class="card-description">
                        <div class="collapse" id="collapseProcessDescriptionMobile-3">
                            <div class="card-description__divider"></div>
                            <div class="card-description__content">
                                <h4>Цель:</h4>
                                <p>превратить идею в чёткую архитектуру и бэклог</p>
                                <h4>Задачи:</h4>
                                <p>Юзкейсы, CJM, приоритизация требований (MoSCoW).<br>Системное проектирование: выбор
                                    стека (Flutter/React Native), навигация, состояния (BLoC/Provider для Flutter;
                                    Redux/Zustand/Recoil для RN), офлайн-режим, синхронизация.</p>
                                <h4>Интеграции:</h4>
                                <p>API-контракты (OpenAPI), push, аналитика (Firebase/Amplitude), платежи.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-btn-wrapper">
                        <button type="button" class="btn card-btn-more collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseProcessDescriptionMobile-3" aria-expanded="false">
                            <span class="title-show-more align-middle">Подробнее</span>
                            <span class="title-show-less align-middle">Свернуть</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"
                                fill="none">
                                <path
                                    d="M14 17.4708C13.8445 17.4708 13.6986 17.4465 13.5625 17.3979C13.4264 17.3492 13.3 17.2666 13.1833 17.1499L7.81668 11.7833C7.60279 11.5694 7.49585 11.2972 7.49585 10.9666C7.49585 10.636 7.60279 10.3638 7.81668 10.1499C8.03057 9.93605 8.30279 9.8291 8.63335 9.8291C8.96391 9.8291 9.23613 9.93605 9.45002 10.1499L14 14.6999L18.55 10.1499C18.7639 9.93605 19.0361 9.8291 19.3667 9.8291C19.6972 9.8291 19.9695 9.93605 20.1833 10.1499C20.3972 10.3638 20.5042 10.636 20.5042 10.9666C20.5042 11.2972 20.3972 11.5694 20.1833 11.7833L14.8167 17.1499C14.7 17.2666 14.5736 17.3492 14.4375 17.3979C14.3014 17.4465 14.1556 17.4708 14 17.4708Z" />
                            </svg>
                        </button>
                    </div>
                    <div class="card-divider"></div>
                </div>
            </div>
            <!-- item-4 -->
            <div class="card card-process">
                <div class="card-body">
                    <div class="card-index-num">4</div>
                    <div class="card-icon">
                        <img class="img-fluid" src="img/home/card-step-04.png" alt="">
                    </div>
                    <div class="card-heading">
                        <div class="card-heading__status">первое касание</div>
                        <div class="card-heading__title">Разработка (спринты)</div>
                        <div class="card-heading__subtitle">Экономия времени и бюджета: один код — для iOS и Android
                        </div>
                    </div>
                    <div class="card-description">
                        <div class="collapse" id="collapseProcessDescriptionMobile-4">
                            <div class="card-description__divider"></div>
                            <div class="card-description__content">
                                <h4>Цель:</h4>
                                <p>превратить идею в чёткую архитектуру и бэклог</p>
                                <h4>Задачи:</h4>
                                <p>Юзкейсы, CJM, приоритизация требований (MoSCoW).<br>Системное проектирование: выбор
                                    стека (Flutter/React Native), навигация, состояния (BLoC/Provider для Flutter;
                                    Redux/Zustand/Recoil для RN), офлайн-режим, синхронизация.</p>
                                <h4>Интеграции:</h4>
                                <p>API-контракты (OpenAPI), push, аналитика (Firebase/Amplitude), платежи.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-btn-wrapper">
                        <button type="button" class="btn card-btn-more collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseProcessDescriptionMobile-4" aria-expanded="false">
                            <span class="title-show-more align-middle">Подробнее</span>
                            <span class="title-show-less align-middle">Свернуть</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"
                                fill="none">
                                <path
                                    d="M14 17.4708C13.8445 17.4708 13.6986 17.4465 13.5625 17.3979C13.4264 17.3492 13.3 17.2666 13.1833 17.1499L7.81668 11.7833C7.60279 11.5694 7.49585 11.2972 7.49585 10.9666C7.49585 10.636 7.60279 10.3638 7.81668 10.1499C8.03057 9.93605 8.30279 9.8291 8.63335 9.8291C8.96391 9.8291 9.23613 9.93605 9.45002 10.1499L14 14.6999L18.55 10.1499C18.7639 9.93605 19.0361 9.8291 19.3667 9.8291C19.6972 9.8291 19.9695 9.93605 20.1833 10.1499C20.3972 10.3638 20.5042 10.636 20.5042 10.9666C20.5042 11.2972 20.3972 11.5694 20.1833 11.7833L14.8167 17.1499C14.7 17.2666 14.5736 17.3492 14.4375 17.3979C14.3014 17.4465 14.1556 17.4708 14 17.4708Z" />
                            </svg>
                        </button>
                    </div>
                    <div class="card-divider"></div>
                </div>
            </div>
            <!-- item-5 -->
            <div class="card card-process">
                <div class="card-body">
                    <div class="card-index-num">5</div>
                    <div class="card-icon">
                        <img class="img-fluid" src="img/home/card-step-05.png" alt="">
                    </div>
                    <div class="card-heading">
                        <div class="card-heading__status">первое касание</div>
                        <div class="card-heading__title">Тестирование</div>
                        <div class="card-heading__subtitle">Экономия времени и бюджета: один код — для iOS и Android
                        </div>
                    </div>
                    <div class="card-description">
                        <div class="collapse" id="collapseProcessDescriptionMobile-5">
                            <div class="card-description__divider"></div>
                            <div class="card-description__content">
                                <h4>Цель:</h4>
                                <p>превратить идею в чёткую архитектуру и бэклог</p>
                                <h4>Задачи:</h4>
                                <p>Юзкейсы, CJM, приоритизация требований (MoSCoW).<br>Системное проектирование: выбор
                                    стека (Flutter/React Native), навигация, состояния (BLoC/Provider для Flutter;
                                    Redux/Zustand/Recoil для RN), офлайн-режим, синхронизация.</p>
                                <h4>Интеграции:</h4>
                                <p>API-контракты (OpenAPI), push, аналитика (Firebase/Amplitude), платежи.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-btn-wrapper">
                        <button type="button" class="btn card-btn-more collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseProcessDescriptionMobile-5" aria-expanded="false">
                            <span class="title-show-more align-middle">Подробнее</span>
                            <span class="title-show-less align-middle">Свернуть</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"
                                fill="none">
                                <path
                                    d="M14 17.4708C13.8445 17.4708 13.6986 17.4465 13.5625 17.3979C13.4264 17.3492 13.3 17.2666 13.1833 17.1499L7.81668 11.7833C7.60279 11.5694 7.49585 11.2972 7.49585 10.9666C7.49585 10.636 7.60279 10.3638 7.81668 10.1499C8.03057 9.93605 8.30279 9.8291 8.63335 9.8291C8.96391 9.8291 9.23613 9.93605 9.45002 10.1499L14 14.6999L18.55 10.1499C18.7639 9.93605 19.0361 9.8291 19.3667 9.8291C19.6972 9.8291 19.9695 9.93605 20.1833 10.1499C20.3972 10.3638 20.5042 10.636 20.5042 10.9666C20.5042 11.2972 20.3972 11.5694 20.1833 11.7833L14.8167 17.1499C14.7 17.2666 14.5736 17.3492 14.4375 17.3979C14.3014 17.4465 14.1556 17.4708 14 17.4708Z" />
                            </svg>
                        </button>
                    </div>
                    <div class="card-divider"></div>
                </div>
            </div>
            <!-- item-6 -->
            <div class="card card-process">
                <div class="card-body">
                    <div class="card-index-num">6</div>
                    <div class="card-icon">
                        <img class="img-fluid" src="img/home/card-step-06.png" alt="">
                    </div>
                    <div class="card-heading">
                        <div class="card-heading__status">первое касание</div>
                        <div class="card-heading__title">Запуск (релиз)</div>
                        <div class="card-heading__subtitle">Экономия времени и бюджета: один код — для iOS и Android
                        </div>
                    </div>
                    <div class="card-description">
                        <div class="collapse" id="collapseProcessDescriptionMobile-6">
                            <div class="card-description__divider"></div>
                            <div class="card-description__content">
                                <h4>Цель:</h4>
                                <p>превратить идею в чёткую архитектуру и бэклог</p>
                                <h4>Задачи:</h4>
                                <p>Юзкейсы, CJM, приоритизация требований (MoSCoW).<br>Системное проектирование: выбор
                                    стека (Flutter/React Native), навигация, состояния (BLoC/Provider для Flutter;
                                    Redux/Zustand/Recoil для RN), офлайн-режим, синхронизация.</p>
                                <h4>Интеграции:</h4>
                                <p>API-контракты (OpenAPI), push, аналитика (Firebase/Amplitude), платежи.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-btn-wrapper">
                        <button type="button" class="btn card-btn-more collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseProcessDescriptionMobile-6" aria-expanded="false">
                            <span class="title-show-more align-middle">Подробнее</span>
                            <span class="title-show-less align-middle">Свернуть</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"
                                fill="none">
                                <path
                                    d="M14 17.4708C13.8445 17.4708 13.6986 17.4465 13.5625 17.3979C13.4264 17.3492 13.3 17.2666 13.1833 17.1499L7.81668 11.7833C7.60279 11.5694 7.49585 11.2972 7.49585 10.9666C7.49585 10.636 7.60279 10.3638 7.81668 10.1499C8.03057 9.93605 8.30279 9.8291 8.63335 9.8291C8.96391 9.8291 9.23613 9.93605 9.45002 10.1499L14 14.6999L18.55 10.1499C18.7639 9.93605 19.0361 9.8291 19.3667 9.8291C19.6972 9.8291 19.9695 9.93605 20.1833 10.1499C20.3972 10.3638 20.5042 10.636 20.5042 10.9666C20.5042 11.2972 20.3972 11.5694 20.1833 11.7833L14.8167 17.1499C14.7 17.2666 14.5736 17.3492 14.4375 17.3979C14.3014 17.4465 14.1556 17.4708 14 17.4708Z" />
                            </svg>
                        </button>
                    </div>
                    <div class="card-divider"></div>
                </div>
            </div>
            <!-- item-7 -->
            <div class="card card-process">
                <div class="card-body">
                    <div class="card-index-num">7</div>
                    <div class="card-icon">
                        <img class="img-fluid" src="img/home/card-step-07.png" alt="">
                    </div>
                    <div class="card-heading">
                        <div class="card-heading__status">первое касание</div>
                        <div class="card-heading__title">Поддержка и развитие</div>
                        <div class="card-heading__subtitle">Экономия времени и бюджета: один код — для iOS и Android
                        </div>
                    </div>
                    <div class="card-description">
                        <div class="collapse" id="collapseProcessDescriptionMobile-7">
                            <div class="card-description__divider"></div>
                            <div class="card-description__content">
                                <h4>Цель:</h4>
                                <p>превратить идею в чёткую архитектуру и бэклог</p>
                                <h4>Задачи:</h4>
                                <p>Юзкейсы, CJM, приоритизация требований (MoSCoW).<br>Системное проектирование: выбор
                                    стека (Flutter/React Native), навигация, состояния (BLoC/Provider для Flutter;
                                    Redux/Zustand/Recoil для RN), офлайн-режим, синхронизация.</p>
                                <h4>Интеграции:</h4>
                                <p>API-контракты (OpenAPI), push, аналитика (Firebase/Amplitude), платежи.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-btn-wrapper">
                        <button type="button" class="btn card-btn-more collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapseProcessDescriptionMobile-7" aria-expanded="false">
                            <span class="title-show-more align-middle">Подробнее</span>
                            <span class="title-show-less align-middle">Свернуть</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"
                                fill="none">
                                <path
                                    d="M14 17.4708C13.8445 17.4708 13.6986 17.4465 13.5625 17.3979C13.4264 17.3492 13.3 17.2666 13.1833 17.1499L7.81668 11.7833C7.60279 11.5694 7.49585 11.2972 7.49585 10.9666C7.49585 10.636 7.60279 10.3638 7.81668 10.1499C8.03057 9.93605 8.30279 9.8291 8.63335 9.8291C8.96391 9.8291 9.23613 9.93605 9.45002 10.1499L14 14.6999L18.55 10.1499C18.7639 9.93605 19.0361 9.8291 19.3667 9.8291C19.6972 9.8291 19.9695 9.93605 20.1833 10.1499C20.3972 10.3638 20.5042 10.636 20.5042 10.9666C20.5042 11.2972 20.3972 11.5694 20.1833 11.7833L14.8167 17.1499C14.7 17.2666 14.5736 17.3492 14.4375 17.3979C14.3014 17.4465 14.1556 17.4708 14 17.4708Z" />
                            </svg>
                        </button>
                    </div>
                    <div class="card-divider"></div>
                </div>
            </div>
        </div>

    </div>
</section>